.is-paddingless-vertical {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


.section.bg_landing {
    background:  #FFE5BB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(45.34deg, #119DA4 5.66%, #9BC7B2 31.53%, #FFE5BB 50.01%, #FFBE99 72.18%, #FF886A 94.35%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45.34deg, #119DA4 5.66%, #9BC7B2 31.53%, #FFE5BB 50.01%, #FFBE99 72.18%, #FF886A 94.35%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

* {
    box-shadow: none !important;
}

.transparent {
    background: transparent !important;
}
