.is-paddingless-vertical {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


.section.bg_landing {
    background:  #FFE5BB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(45.34deg, #119DA4 5.66%, #9BC7B2 31.53%, #FFE5BB 50.01%, #FFBE99 72.18%, #FF886A 94.35%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45.34deg, #119DA4 5.66%, #9BC7B2 31.53%, #FFE5BB 50.01%, #FFBE99 72.18%, #FF886A 94.35%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

* {
    box-shadow: none !important;
}

.transparent {
    background: transparent !important;
}

.card-footer,
.card-footer-item {
    border: none !important;
}


/* Ripple effect */
.button {
    background-position: center !important;
    transition: background 0.8s !important;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .20) !important;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .20) !important;
    -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .20) !important;
    -ms-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .20) !important;
    -o-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .20) !important;
     border: none !important;

    &:hover {
        background: #666666 radial-gradient(circle, transparent 1%, #666666 1%) center/15000% !important;
        color: #FAFAFA !important;
    }
}


.button:active {
    background-color: #777777 !important;
    background-size: 100% !important;
    transition: background 0s !important;
}
