<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Product Landing Free Bulma Template by Michael Andreuzza || Sinequanone Blog template</title>


    <link rel="stylesheet" href="../css/blog.css">

    <!--Fontawesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">





    <!--Bulma-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
    <link href="https://unpkg.com/bulma-fluent@0.3.13/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


</head>




<body>

    <div class="section transparent is-paddingless">

        <div class="container has-background-white is-hidden-desktop is-hidden-tablet">

            <div class="hero-head ">

                <nav class="navbar">
                    <div class="navbar-brand shadowless">
                        <a class="navbar-item " href="#">
                            Bulma Blog Post
                        </a>

                        <span class="navbar-burger burger is-centered" data-target="navMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>

                    <div id="navMenu" class="navbar-menu transparent">


                        <div class="navbar-end">
                            <div class="navbar-item">

                                <a class=" navbar-item  has-text-black-ter">
                                    Home
                                </a>
                                <div class="navbar-item  has-dropdown is-hoverable  ">
                                    <a class="navbar-item is-size-6 has-text-black  ">
                                        Categories



                                    </a>



                                    <div class="navbar-dropdown">
                                        <a class=" navbar-item  has-text-black-ter">
                                            Magazine
                                        </a>
                                        <a class=" navbar-item  has-text-black-tery">
                                            Awards
                                        </a>
                                        <a class=" navbar-item  has-text-black-ter">
                                            Jobs
                                        </a>
                                        <hr class="navbar-divider has-background-black">
                                        <a class=" navbar-item  has-text-black-ter">
                                            Living Room
                                        </a>
                                        <a class=" navbar-item has-text-black-ter">
                                            Kitchen
                                        </a>
                                        <a class="navbar-item  is-size-6 has-text-black-ter " href="./blog.html">
                                            Bathroom
                                        </a>

                                        <a class="navbar-item  is-size-6 has-text-black-ter " href="./about.html">
                                            Bedroom
                                        </a>

                                        <a class="navbar-item  is-size-6 has-text-black-ter " href="./contact.html">
                                            Lofts
                                        </a>
                                        <a class="navbar-item  is-size-6 has-text-black-ter" href="./contact.html">
                                            Bedrooms
                                        </a>
                                        <a class="navbar-item  is-size-6 has-text-black-ter" href="./contact.html">
                                            Outdoors
                                        </a>
                                        <a class="navbar-item  is-size-6 has-text-black-ter" href="./contact.html">
                                            Food Brake
                                        </a>
                                        <a class="navbar-item  is-size-6 has-text-black-ter" href="./contact.html">
                                            Plants
                                        </a>
                                        <a class="navbar-item  is-size-6 has-text-black-ter" href="./contact.html">
                                            Hygge
                                        </a>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </nav>
            </div>

        </div>


        <!--- Nav  --->
        <div class="section transparent">

            <!--- Nav  --->
            <div class="container has-background-white ">

                <div class="hero-head ">

                    <div class="hero-body">

                        <div class="columns">
                            <div class="column  ">
                                <h1 class="title is-2 has-text-centered">
                                    Blog logo
                                </h1>

                            </div>
                        </div>
                    </div>

                    <div class="tabs is-centered is-hidden-mobile">
                        <ul>
                            <li class="is-active"><a>News Feed</a></li>
                            <li><a>Living Room</a></li>
                            <li><a>Kitchen</a></li>
                            <li><a>Bathroon</a></li>
                            <li><a>Bedroom</a></li>
                            <li><a>Lofts</a></li>
                            <li><a>Outdoors</a></li>
                            <li><a>Food Break</a></li>
                            <li><a>Plants</a></li>
                            <li><a>Hygge</a></li>
                        </ul>
                    </div>

                    <div class="box has-text-centered">
                        <span class="icon has-text-black">
                            <i class="fab fa-facebook-f"></i>
                        </span>
                        <span class="icon has-text-black">
                            <i class="fab fa-twitter"></i>
                        </span>
                        <span class="icon has-text-black">
                            <i class="fab fa-pinterest-p"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="section is-paddingless has-background-white">



            <div class="section">
                <div class="columns">

                    <div class="column  is-full has-text-centered">

                        <div class="box transparent">

                            <div class="columns has-text-centered  is-multiline ">

                                <div class="column is-3 as-background-black is-hidden-mobile">
                                    <aside class="box has-background-black">

                                        <div class="box transparent has-text-left">
                                            <h1><strong class="is-italic has-text-white is-family-sans-serif ">MOST POPULAR</strong></h1>

                                            <div class="card transparent">
                                                <hr>
                                                <div class="card-image">

                                                    <figure class="image is-2by3">
                                                        <img src="https://images.unsplash.com/photo-1456602277280-6cf1f7b3324b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Placeholder image">
                                                    </figure>
                                                </div>
                                                <hr>

                                                <article class="media">

                                                    <figure class="media-left">
                                                        <h1 class="has-text-white is-1 has-text-weight-bold">
                                                            1
                                                        </h1>
                                                    </figure>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-white is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>
                                                <article class="media">

                                                    <figure class="media-left">
                                                        <h1 class="has-text-white is-1 has-text-weight-bold">
                                                            2
                                                        </h1>
                                                    </figure>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-white is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>
                                                <article class="media">

                                                    <figure class="media-left">
                                                        <h1 class="has-text-white is-1 has-text-weight-bold">
                                                            3
                                                        </h1>
                                                    </figure>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-white is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>
                                                <article class="media">

                                                    <figure class="media-left">
                                                        <h1 class="has-text-white is-1 has-text-weight-bold">
                                                            4
                                                        </h1>
                                                    </figure>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-white is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>
                                                <article class="media">

                                                    <figure class="media-left">
                                                        <h1 class="has-text-white is-1 has-text-weight-bold">
                                                            5
                                                        </h1>
                                                    </figure>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-white is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>


                                                <hr>
                                            </div>

                                        </div>


                                    </aside>

                                    <aside class="box has-background-black">

                                        <div class="box transparent has-text-left">
                                            <h1><strong class="is-italic has-text-white is-family-sans-serif ">MOST COMMENTED</strong></h1>

                                            <div class="card transparent">
                                                <hr>
                                                <div class="card-image">

                                                    <figure class="image is-2by3">
                                                        <img src="https://images.unsplash.com/photo-1456602277280-6cf1f7b3324b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Placeholder image">
                                                    </figure>
                                                </div>
                                                <hr>

                                                <article class="media">

                                                    <figure class="media-left">
                                                        <h1 class="has-text-white is-1 has-text-weight-bold">
                                                            1
                                                        </h1>
                                                    </figure>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-white is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>
                                                <article class="media">

                                                    <figure class="media-left">
                                                        <h1 class="has-text-white is-1 has-text-weight-bold">
                                                            2
                                                        </h1>
                                                    </figure>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-white is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>
                                                <article class="media">

                                                    <figure class="media-left">
                                                        <h1 class="has-text-white is-1 has-text-weight-bold">
                                                            3
                                                        </h1>
                                                    </figure>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-white is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>
                                                <article class="media">

                                                    <figure class="media-left">
                                                        <h1 class="has-text-white is-1 has-text-weight-bold">
                                                            4
                                                        </h1>
                                                    </figure>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-white is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>
                                                <article class="media">

                                                    <figure class="media-left">
                                                        <h1 class="has-text-white is-1 has-text-weight-bold">
                                                            5
                                                        </h1>
                                                    </figure>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-white is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>


                                                <hr>
                                            </div>

                                        </div>


                                    </aside>
                                </div>





                                <div class="column ">
                                    <div class="card ">
                                        <div class="card-image">
                                            <figure class="image is-5by3">
                                                <img src="https://images.unsplash.com/photo-1508881136857-d1781947f4d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content has-text-left">
                                                <h2 class="is-2  has-text-left has-text-weight-medium">Warm moments</h2>

                                                <h6 class="is-4  has-text-left has-text-grey has-text-weight-light is-italic is-family-sans-serif">HYGGE</h6>

                                                <span class="icon has-text-black is-left">
                                                    <i class="fab fa-facebook-f"></i>
                                                </span>
                                                <span class="icon has-text-black">
                                                    <i class="fab fa-twitter"></i>
                                                </span>
                                                <span class="icon has-text-black">
                                                    <i class="fab fa-pinterest-p"></i>
                                                </span>

                                                <hr>
                                                <p class="is-4  has-text-grey has-text-left ">Lorem ipsum dolor amet plaid taxidermy asymmetrical gentrify succulents heirloom. Drinking vinegar fashion axe lyft truffaut. Cornhole unicorn prism typewriter normcore cardigan air plant tilde tote bag small batch authentic lo-fi drinking vinegar. Roof party normcore put a bird on it you probably haven't heard of them prism synth pok pok cornhole neutra woke af beard disrupt.

                                                    Sustainable drinking vinegar pabst four loko twee. Salvia authentic gochujang shoreditch lumbersexual health goth activated charcoal hella. Church-key gochujang lo-fi viral, paleo quinoa mumblecore celiac crucifix man braid wayfarers shoreditch skateboard austin snackwave. Shoreditch craft beer echo park pitchfork wayfarers semiotics distillery. Pabst pug vegan dreamcatcher. Kogi beard taiyaki williamsburg single-origin coffee jean shorts lyft locavore keytar. Glossier hexagon semiotics leggings gochujang.
                                                </p>

                                                <h3 class="has-text-centered">“Chia cardigan neutra, fixie dreamcatcher trust fund waistcoat wayfarers. Bushwick photo booth helvetica cronut coloring book raclette cold-pressed, freegan church-key biodiesel.”</h3>
                                                <p class="is-4  has-text-grey has-text-left ">

                                                    Sustainable drinking vinegar pabst four loko twee. Salvia authentic gochujang shoreditch lumbersexual health goth activated charcoal hella. Church-key gochujang lo-fi viral, paleo quinoa mumblecore celiac crucifix man braid wayfarers shoreditch skateboard austin snackwave. Shoreditch craft beer echo park pitchfork wayfarers semiotics distillery. Pabst pug vegan dreamcatcher. Kogi beard taiyaki williamsburg single-origin coffee jean shorts lyft locavore keytar. Glossier hexagon semiotics leggings gochujang.
                                                </p>
                                                <hr>
                                                <div class="notification transparent">

                                                    <div class="columns">

                                                        <div class="column">


                                                            <figure class="image is-3by2 ">
                                                                <img src="https://images.unsplash.com/photo-1484075449844-e945b251559e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1042&q=80" alt="Image">

                                                            </figure>






                                                        </div>


                                                        <div class="column">
                                                            <figure class="image is-3by2 ">
                                                                <img src="https://images.unsplash.com/photo-1533563697671-dc05a2cd7b01?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Image">
                                                            </figure>

                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>



                                                <p class="is-4  has-text-grey has-text-left ">

                                                    Sustainable drinking vinegar pabst four loko twee. Salvia authentic gochujang shoreditch lumbersexual health goth activated charcoal hella. Church-key gochujang lo-fi viral, paleo quinoa mumblecore celiac crucifix man braid wayfarers shoreditch skateboard austin snackwave. Shoreditch craft beer echo park pitchfork wayfarers semiotics distillery. Pabst pug vegan dreamcatcher. Kogi beard taiyaki williamsburg single-origin coffee jean shorts lyft locavore keytar. Glossier hexagon semiotics leggings gochujang.
                                                </p>

                                            </div>

                                        </div>

                                    </div>
                                    <div class="notification transparent">

                                        <div class="columns">

                                            <div class="column">
                                                <hr class="has-background-black">

                                                <div class="card-image">

                                                    <figure class="image is-3by2">
                                                        <img src="https://images.unsplash.com/photo-1484075449844-e945b251559e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1042&q=80">
                                                    </figure>
                                                </div>
                                                <hr>

                                                <article class="media">


                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-black is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>
                                                <hr class="has-background-black">

                                            </div>


                                            <div class="column">
                                                <hr class="has-background-black">

                                                <div class="card-image">

                                                    <figure class="image is-3by2">
                                                        <img src="https://images.unsplash.com/photo-1484075449844-e945b251559e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1042&q=80">
                                                    </figure>
                                                </div>
                                                <hr>

                                                <article class="media">


                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-black is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>
                                                <hr class="has-background-black">




                                            </div>



                                            <div class="column">
                                                <hr class="has-background-black">

                                                <div class="card-image">

                                                    <figure class="image is-3by2">
                                                        <img src="https://images.unsplash.com/photo-1484075449844-e945b251559e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1042&q=80">
                                                    </figure>
                                                </div>
                                                <hr>

                                                <article class="media">


                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-black is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>


                                                <hr class="has-background-black">


                                            </div>

                                        </div>
                                    </div>


                                    <div class="notification transparent">
                                        <h1 class="has-text-left title">Comments</h1>
                                        <div class="tabs is-black">
                                            <ul>
                                                <li>
                                                    <p class="is-italic "><a href="">3 Comments</a></p>
                                                </li>
                                                <li>
                                                    <p class="is-italic "><a href="">3 Likes</a></p>
                                                </li>
                                                <span class="icon has-text-black is-left">
                                                    <i class="fab fa-facebook-f"></i>
                                                </span>
                                                <span class="icon has-text-black">
                                                    <i class="fab fa-twitter"></i>
                                                </span>
                                                <span class="icon has-text-black">
                                                    <i class="fab fa-pinterest-p"></i>
                                                </span>

                                            </ul>
                                        </div>
                                    </div>



                                    <div class="box">
                                        <article class="media">
                                            <figure class="media-left">
                                                <p class="image is-64x64">
                                                    <img src="https://bulma.io/images/placeholders/128x128.png">
                                                </p>
                                            </figure>
                                            <div class="media-content">
                                                <div class="content">
                                                    <p>
                                                        <strong>Barbara Middleton</strong>
                                                        <br>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
                                                        <br>
                                                        <small><a class="has-text-danger"><i class="fas fa-heart"></i></a> · <a>Reply</a> · 3 hrs</small>
                                                    </p>
                                                </div>

                                                <article class="media">
                                                    <figure class="media-left">
                                                        <p class="image is-48x48">
                                                            <img src="https://bulma.io/images/placeholders/96x96.png">
                                                        </p>
                                                    </figure>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p>
                                                                <strong>Sean Brown</strong>
                                                                <br>
                                                                Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis leo feugiat.
                                                                <br>
                                                                <small><a class="has-text-danger"><i class="fas fa-heart"></i></a> · <a>Reply</a> · 2 hrs</small>
                                                            </p>
                                                        </div>



                                                        <article class="media">
                                                            Morbi vitae diam et purus tincidunt porttitor vel vitae augue. Praesent malesuada metus sed pharetra euismod. Cras tellus odio, tincidunt iaculis diam non, porta aliquet tortor.
                                                        </article>
                                                    </div>
                                                </article>

                                                <article class="media">
                                                    <figure class="media-left">
                                                        <p class="image is-48x48">
                                                            <img src="https://bulma.io/images/placeholders/96x96.png">
                                                        </p>
                                                    </figure>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p>
                                                                <strong>Kayli Eunice </strong>
                                                                <br>
                                                                Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id feugiat.
                                                                <br>
                                                                <small><a class="has-text-danger"><i class="fas fa-heart"></i></a> · <a>Reply</a> · 2 hrs</small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                        </article>
                                        <article class="media">
                                            <figure class="media-left">
                                                <p class="image is-64x64">
                                                    <img src="https://bulma.io/images/placeholders/128x128.png">
                                                </p>
                                            </figure>
                                            <div class="media-content">
                                                <div class="field">
                                                    <p class="control">
                                                        <textarea class="textarea" placeholder="Start a discussion..."></textarea>
                                                    </p>
                                                </div>
                                                <div class="field">
                                                    <p class="control">
                                                        <button class="button is-black is-outlined">Post comment</button>
                                                    </p>
                                                </div>
                                            </div>
                                        </article>
                                    </div>


                                </div>



                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>







        <footer class="footer is-paddingless shadowless">
            <div class="box transparent">
                <div class="content has-text-centered transparent">
                    <p class="is-4">

                        <strong class="name logo has-text-grey">
                            Free Bulma templates by</strong>
                        <span class="name logo has-text-black is-bold"><a href="https://michaelandreuzza.com" class="has-text-grey logo">Michael Andreuzza</a></span>

                    </p>
                </div>
            </div>
        </footer>

    </div>








    <script src="../javascript/bulma.js"></script>
</body>

</html>
