<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Product Landing Free Bulma Template by Michael Andreuzza || Sinequanone Blog template</title>


    <link rel="stylesheet" href="../css/blog.css">

    <!--Fontawesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">





    <!--Bulma-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
    <link href="https://unpkg.com/bulma-fluent@0.3.13/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


</head>




<body>

    <div class="section transparent is-paddingless">

        <div class="container has-background-white is-hidden-desktop is-hidden-tablet">

            <div class="hero-head ">

                <nav class="navbar">
                    <div class="navbar-brand shadowless">
                        <a class="navbar-item " href="#">
                            Bulma Product Landing
                        </a>

                        <span class="navbar-burger burger is-centered" data-target="navMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>

                    <div id="navMenu" class="navbar-menu transparent">


                        <div class="navbar-end">
                            <div class="navbar-item">

                                <a class=" navbar-item  has-text-black-ter">
                                    Home
                                </a>
                                <div class="navbar-item  has-dropdown is-hoverable  ">
                                    <a class="navbar-item is-size-6 has-text-black  ">
                                        Categories



                                    </a>



                                    <div class="navbar-dropdown">
                                        <a class=" navbar-item  has-text-black-ter">
                                            Magazine
                                        </a>
                                        <a class=" navbar-item  has-text-black-tery">
                                            Awards
                                        </a>
                                        <a class=" navbar-item  has-text-black-ter">
                                            Jobs
                                        </a>
                                        <hr class="navbar-divider has-background-black">
                                        <a class=" navbar-item  has-text-black-ter">
                                            Living Room
                                        </a>
                                        <a class=" navbar-item has-text-black-ter">
                                            Kitchen
                                        </a>
                                        <a class="navbar-item  is-size-6 has-text-black-ter " href="./blog.html">
                                            Bathroom
                                        </a>

                                        <a class="navbar-item  is-size-6 has-text-black-ter " href="./about.html">
                                            Bedroom
                                        </a>

                                        <a class="navbar-item  is-size-6 has-text-black-ter " href="./contact.html">
                                            Lofts
                                        </a>
                                        <a class="navbar-item  is-size-6 has-text-black-ter" href="./contact.html">
                                            Bedrooms
                                        </a>
                                        <a class="navbar-item  is-size-6 has-text-black-ter" href="./contact.html">
                                            Outdoors
                                        </a>
                                        <a class="navbar-item  is-size-6 has-text-black-ter" href="./contact.html">
                                            Food Brake
                                        </a>
                                        <a class="navbar-item  is-size-6 has-text-black-ter" href="./contact.html">
                                            Plants
                                        </a>
                                        <a class="navbar-item  is-size-6 has-text-black-ter" href="./contact.html">
                                            Hygge
                                        </a>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </nav>
            </div>

        </div>


        <!--- Nav  --->
        <div class="section transparent">

            <!--- Nav  --->
            <div class="container has-background-white ">

                <div class="hero-head ">

                    <div class="hero-body">

                        <div class="columns">
                            <div class="column  ">
                                <h1 class="title is-2 has-text-centered">
                                    Blog logo
                                </h1>

                            </div>
                        </div>
                    </div>

                    <div class="tabs is-centered is-hidden-mobile">
                        <ul>
                            <li class="is-active"><a>News Feed</a></li>
                            <li><a>Living Room</a></li>
                            <li><a>Kitchen</a></li>
                            <li><a>Bathroon</a></li>
                            <li><a>Bedroom</a></li>
                            <li><a>Lofts</a></li>
                            <li><a>Outdoors</a></li>
                            <li><a>Food Break</a></li>
                            <li><a>Plants</a></li>
                            <li><a>Hygge</a></li>
                        </ul>
                    </div>

                    <div class="box has-text-centered">
                        <span class="icon has-text-black">
                            <i class="fab fa-facebook-f"></i>
                        </span>
                        <span class="icon has-text-black">
                            <i class="fab fa-twitter"></i>
                        </span>
                        <span class="icon has-text-black">
                            <i class="fab fa-pinterest-p"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="section is-paddingless has-background-white">



            <div class="section">
                <div class="columns">

                    <div class="column  is-full has-text-centered">

                        <div class="box transparent">

                            <div class="columns has-text-centered  is-multiline ">

                                <div class="column as-background-black is-hidden-mobile">
                                    <aside class="box has-background-black">

                                        <div class="box transparent has-text-left">
                                            <h1><strong class="is-italic has-text-white is-family-sans-serif ">MOST POPULAR</strong></h1>

                                            <div class="card transparent">
                                                <hr>
                                                <div class="card-image">

                                                    <figure class="image is-2by3">
                                                        <img src="https://images.unsplash.com/photo-1456602277280-6cf1f7b3324b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Placeholder image">
                                                    </figure>
                                                </div>
                                                <hr>

                                                <article class="media">

                                                    <figure class="media-left">
                                                        <h1 class="has-text-white is-1 has-text-weight-bold">
                                                            1
                                                        </h1>
                                                    </figure>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-white is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>
                                                <article class="media">

                                                    <figure class="media-left">
                                                        <h1 class="has-text-white is-1 has-text-weight-bold">
                                                            2
                                                        </h1>
                                                    </figure>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-white is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>
                                                <article class="media">

                                                    <figure class="media-left">
                                                        <h1 class="has-text-white is-1 has-text-weight-bold">
                                                            3
                                                        </h1>
                                                    </figure>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-white is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>
                                                <article class="media">

                                                    <figure class="media-left">
                                                        <h1 class="has-text-white is-1 has-text-weight-bold">
                                                            4
                                                        </h1>
                                                    </figure>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-white is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>
                                                <article class="media">

                                                    <figure class="media-left">
                                                        <h1 class="has-text-white is-1 has-text-weight-bold">
                                                            5
                                                        </h1>
                                                    </figure>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-white is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>


                                                <hr>
                                            </div>

                                        </div>


                                    </aside>

                                    <aside class="box has-background-black">

                                        <div class="box transparent has-text-left">
                                            <h1><strong class="is-italic has-text-white is-family-sans-serif ">MOST COMMENTED</strong></h1>

                                            <div class="card transparent">
                                                <hr>
                                                <div class="card-image">

                                                    <figure class="image is-2by3">
                                                        <img src="https://images.unsplash.com/photo-1456602277280-6cf1f7b3324b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Placeholder image">
                                                    </figure>
                                                </div>
                                                <hr>

                                                <article class="media">

                                                    <figure class="media-left">
                                                        <h1 class="has-text-white is-1 has-text-weight-bold">
                                                            1
                                                        </h1>
                                                    </figure>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-white is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>
                                                <article class="media">

                                                    <figure class="media-left">
                                                        <h1 class="has-text-white is-1 has-text-weight-bold">
                                                            2
                                                        </h1>
                                                    </figure>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-white is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>
                                                <article class="media">

                                                    <figure class="media-left">
                                                        <h1 class="has-text-white is-1 has-text-weight-bold">
                                                            3
                                                        </h1>
                                                    </figure>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-white is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>
                                                <article class="media">

                                                    <figure class="media-left">
                                                        <h1 class="has-text-white is-1 has-text-weight-bold">
                                                            4
                                                        </h1>
                                                    </figure>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-white is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>
                                                <article class="media">

                                                    <figure class="media-left">
                                                        <h1 class="has-text-white is-1 has-text-weight-bold">
                                                            5
                                                        </h1>
                                                    </figure>
                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-white is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>


                                                <hr>
                                            </div>

                                        </div>


                                    </aside>
                                </div>

                                <div class="column ">
                                    <div class="card ">
                                        <div class="card-image">
                                            <figure class="image is-5by4">
                                                <img src="https://images.unsplash.com/photo-1552847319-9e2be2f24459?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <h2 class="is-2  has-text-center has-text-weight-medium ">Colorful houses</h2>
                                                <h6 class="is-4  has-text-center has-text-grey has-text-weight-light is-italic is-family-sans-serif">OUTDOORS</h6>
                                                <hr>
                                                <p class="is-4  has-text-grey has-text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>


                                            </div>

                                        </div>

                                    </div>
                                    <hr class="has-background-black">
                                    <div class="card ">
                                        <div class="card-image">
                                            <figure class="image is-4by3">
                                                <img src="https://images.unsplash.com/photo-1469131792215-9c8aaff71393?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <h2 class="is-2  has-text-center has-text-weight-medium ">Family garden</h2>
                                                <h6 class="is-4  has-text-center has-text-grey has-text-weight-light is-italic is-family-sans-serif">OUTDOORS</h6>
                                                <hr>
                                                <p class="is-4  has-text-grey has-text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>


                                            </div>

                                        </div>

                                    </div>
                                    <hr class="has-background-black">
                                    <div class="card ">
                                        <div class="card-image">
                                            <figure class="image is-4by3">
                                                <img src="https://images.unsplash.com/photo-1505873242700-f289a29e1e0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <h2 class="is-2  has-text-center has-text-weight-medium ">Colorful houses</h2>
                                                <h6 class="is-4  has-text-center has-text-grey has-text-weight-light is-italic is-family-sans-serif">LOFTS</h6>
                                                <hr>
                                                <p class="is-4  has-text-grey has-text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>


                                            </div>

                                        </div>

                                    </div>
                                                                           <hr class="has-background-black">

                                       <div class="card ">
                                        <div class="card-image">
                                            <figure class="image is-5by4">
                                                <img src="https://images.unsplash.com/photo-1505873242700-f289a29e1e0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <h2 class="is-2  has-text-center has-text-weight-medium ">Colorful houses</h2>
                                                <h6 class="is-4  has-text-center has-text-grey has-text-weight-light is-italic is-family-sans-serif">LOFTS</h6>
                                                <hr>
                                                <p class="is-4  has-text-grey has-text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>


                                            </div>

                                        </div>

                                    </div>
                                    <hr class="has-background-black">
                                </div>

                                <div class="column ">

                                    <div class="card ">
                                        <div class="card-image ">
                                            <figure class="image is-4by5 ">
                                                <img src="https://images.unsplash.com/photo-1552558636-f6a8f071c2b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80" alt="Image">
                                            </figure>


                                        </div>
                                        <div class="card-content ">


                                            <div class="content">
                                                <h2 class="is-2  has-text-center has-text-weight-medium">Scandinavian nights</h2>
                                                <h6 class="is-4  has-text-center has-text-grey has-text-weight-light is-italic is-family-sans-serif">BEDROOMS</h6>
                                                <hr>
                                                <p class="is-4  has-text-grey has-text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    <hr class="has-background-black">
                                    <div class="card ">
                                        <div class="card-image ">
                                            <figure class="image is-4by5 ">
                                                <img src="https://images.unsplash.com/photo-1533987459130-0d7c303ea459?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=603&q=80" alt="Image">
                                            </figure>


                                        </div>
                                        <div class="card-content ">


                                            <div class="content">
                                                <h2 class="is-2  has-text-center has-text-weight-medium">New recipies from Anna Wintertop</h2>
                                                <h6 class="is-4  has-text-center has-text-grey has-text-weight-light is-italic is-family-sans-serif">FOOD BRAKE</h6>
                                                <hr>
                                                <p class="is-4  has-text-grey has-text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                       <div class="card ">
                                        <div class="card-image ">
                                            <figure class="image is-4by5 ">
                                                <img src="https://images.unsplash.com/photo-1533987459130-0d7c303ea459?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=603&q=80" alt="Image">
                                            </figure>


                                        </div>
                                        <div class="card-content ">


                                            <div class="content">
                                                <h2 class="is-2  has-text-center has-text-weight-medium">New recipies from Anna Wintertop</h2>
                                                <h6 class="is-4  has-text-center has-text-grey has-text-weight-light is-italic is-family-sans-serif">FOOD BRAKE</h6>
                                                <hr>
                                                <p class="is-4  has-text-grey has-text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    <hr class="has-background-black">
                                    
                                </div>


                                <div class="column ">
                                    <div class="card ">
                                        <div class="card-image">
                                            <figure class="image is-5by4">
                                                <img src="https://images.unsplash.com/photo-1508881136857-d1781947f4d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <h2 class="is-2  has-text-center has-text-weight-medium">Warm moments</h2>
                                                <h6 class="is-4  has-text-center has-text-grey has-text-weight-light is-italic is-family-sans-serif">HYGGE</h6>
                                                <hr>
                                                <p class="is-4  has-text-grey has-text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>


                                            </div>

                                        </div>

                                    </div>
                                                                        <hr class="has-background-black">

                                    <div class="card ">
                                        <div class="card-image">
                                            <figure class="image is-4by3">
                                                <img src="https://images.unsplash.com/photo-1471880504582-cf7e63045303?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=612&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <h2 class="is-2  has-text-center has-text-weight-medium">Tiles from Naturia</h2>
                                                <h6 class="is-4  has-text-center has-text-grey has-text-weight-light is-italic is-family-sans-serif">BATHROOM</h6>
                                                <hr>
                                                <p class="is-4  has-text-grey has-text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>


                                            </div>

                                        </div>

                                    </div>
                                    <hr class="has-background-black">
                                    <div class="card ">
                                        <div class="card-image">
                                            <figure class="image is-4by3">
                                                <img src="https://images.unsplash.com/photo-1454262041357-5d96f50a2f27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <h2 class="is-2  has-text-center has-text-weight-medium">White Orchids</h2>
                                                <h6 class="is-4  has-text-center has-text-grey has-text-weight-light is-italic is-family-sans-serif">PLANTS</h6>
                                                <hr>
                                                <p class="is-4  has-text-grey has-text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>


                                            </div>

                                        </div>

                                    </div>
                                    <hr class="has-background-black"><div class="card ">
                                        <div class="card-image">
                                            <figure class="image is-4by3">
                                                <img src="https://images.unsplash.com/photo-1471880504582-cf7e63045303?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=612&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <h2 class="is-2  has-text-center has-text-weight-medium">Tiles from Natur</h2>
                                                <h6 class="is-4  has-text-center has-text-grey has-text-weight-light is-italic is-family-sans-serif">BATHROOM</h6>
                                                <hr>
                                                <p class="is-4  has-text-grey has-text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>


                                            </div>

                                        </div>

                                    </div>
                                    <hr class="has-background-black">
                                </div>
<div class="notification has-background-black">
                                        <h3 class="has-text-white"> LOAD MORE </h3>
                                    </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>







        <footer class="footer is-paddingless shadowless">
            <div class="box transparent">
                <div class="content has-text-centered transparent">
                    <p class="is-4">

                        <strong class="name logo has-text-grey">
                            Free Bulma templates by</strong>
                        <span class="name logo has-text-black is-bold"><a href="https://michaelandreuzza.com" class="has-text-grey logo">Michael Andreuzza</a></span>

                    </p>
                </div>
            </div>
        </footer>

    </div>








    <script src="../javascript/bulma.js"></script>
</body>

</html>
