<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Free Bulma Template by Michael Andreuzza || Real State template</title>


    <link rel="stylesheet" href="../css/dark_dashboard.css">







    <!--Bulma-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
    <link href="https://unpkg.com/bulma-fluent@0.3.13/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/d9f8af3987.js"></script>


</head>




<body class=" has-navbar-fixed-top">

    <!--- Nav  --->


    <nav class="navbar is-fixed-top is-spaced shadow_navbar_dark navbar_dark">
        <div class="navbar-brand shadowless">
            <a href="#" class="navbar-item is-size-4 has-text-primary"><strong>Dash</strong>Board</a>

            <span class="navbar-burger burger is-centered" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>

        <div id="navMenu" class="navbar-menu navbar_dark">


            <div class="navbar-start ">



                <nav class="navbar transparent" role="navigation" aria-label="dropdown navigation">
                    <div class="navbar-item dark_shadow  is-hoverable  ">
                        <a class="navbar-item is-size-6 has-text-primary  ">
                            Menu
                            <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>

                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item is-size-6 has-text-grey " href="about.html">
                                All
                            </a>
                            <a class="navbar-item is-size-6 has-text-grey " href="about.html">
                                Favourites
                            </a>
                            <hr class="navbar-divider">

                            <a class="navbar-item is-size-6 has-text-grey " href="contact.html">
                                Recents
                            </a>
                        </div>

                    </div>
                    <div class="navbar-item ">
                        <div class="field ">
                            <p class="control has-icons-left has-icons-right ">
                                <input class="input is-rounded transparent is-primary" type="email" placeholder="Search here...">

                                <span class="icon is-small is-right">
                                    <i class="fas fa-search"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </nav>


            </div>
            <div class="navbar-end">
                <div class="navbar-item">

                    <a class=" navbar-item is-white has-text-primary">
                        <i class="fa fa-bell"></i>
                    </a>
                    <a class=" navbar-item is-primary has-text-primary">
                        <i class="fas fa-border-all"></i>
                    </a>
                    <a class=" navbar-item is-primary has-text-primary">
                        <i class="far fa-question-circle"></i>
                    </a>
                    <a class=" navbar-item is-primary has-text-primary">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <a class=" navbar-item is-primary has-text-primary">
                        <span>Michael Andreuzza</span>
                    </a>


                </div>
            </div>
        </div>
    </nav>



    <!---  End Nav    --->





    <div class="section  is-marginless ">
        <div class="column"></div>

        <div class="columns ">
            <div class="column aside_shadow shadow_navbar_dark">
                <aside class="menu has-text-left ">
                    <h4 class="  has-text-white has-text-weight-bold">
                        Home
                    </h4>
                    <ul class="menu-list">
                        <li><a class="has-text-primary">Customization</a></li>
                    </ul>
                    <h4 class=" has-text-white has-text-weight-bold">
                        Reports
                    </h4>
                    <ul class="menu-list main has-text-white">
                        <li><a class="has-text-primary">Real Time</a></li>
                        <a class="has-text-primary">Audience</a>
                        <a class="has-text-primary">Overviews</a>
                        <a class="has-text-primary">Active users</a>
                        <a class="has-text-primary">Lifetime value</a>
                        <a class="has-text-primary">Cohort Analisys</a>
                        <a class="has-text-primary">Audiences</a>
                        <a class="has-text-primary">User Explorer</a>
                        <li><a class="has-text-primary">Acquisition</a></li>
                        <li><a class="has-text-primary">Behaviour</a></li>
                        <li><a class="has-text-primary">Conversions</a></li>
                    </ul>

                </aside>
            </div>
            <div class="column ">




                <div class="tile is-ancestor has-text-left ">
                    <div class="tile is-parent ">
                        <article class="tile is-child box  shadow_navbar_dark cards">
                            <p class="title has-text-weight-bold has-text-white">886 </p>
                            <p class="is-size-5 has-text-white has-text-weight-semibold">Users </p>
                            <small class="has-text-grey">30.6%</small>
                        </article>

                    </div>
                    <div class="tile is-parent  has-text-left">
                        <article class="tile is-child box  shadow_navbar_dark cards ">
                            <p class="title has-text-weight-bold has-text-white ">1.2K</p>
                            <p class="is-size-5 has-text-white has-text-weight-semibold">Session</p>
                            <small class="has-text-grey">30.6%</small>


                        </article>
                    </div>
                    <div class="tile is-parent  has-text-left">
                        <article class="tile is-child box  shadow_navbar_dark cards">
                            <p class="title has-text-weight-bold has-text-white">60.73%</p>
                            <p class="is-size-5 has-text-white has-text-weight-semibold">Bounce Rate</p>
                            <small class="has-text-grey">30.6%</small>

                        </article>
                    </div>
                    <div class="tile is-parent  has-text-left">
                        <article class="tile is-child box  shadow_navbar_dark cards">
                            <p class="title has-text-weight-bold has-text-white">2M 43s</p>
                            <p class="is-size-5 has-text-white has-text-weight-semibold">Session duration</p>
                            <small class="has-text-grey">30.6%</small>

                        </article>
                    </div>
                </div>

                <div class="columns is-multiline">

                    <div class="column">
                        <div class="notification   tabs_dark">




                            <nav class="tabs  is-centered ">
                                <div class="container">
                                    <ul>
                                        <li class="tab is-active   has-text-weight-semibold" onclick="openTab(event,'WebDev')"><a class="has-text-primary">Overview</a></li>
                                        <li class="tab has-text-weight-semibold" onclick="openTab(event,'WebAud')"><a class="has-text-primary">Active Users</a></li>
                                        <li class="tab has-text-weight-semibold" onclick="openTab(event,'Support')"><a class="has-text-primary">Life Time Value</a></li>
                                        <li class="tab has-text-weight-semibold" onclick="openTab(event,'Analisys')"><a class="has-text-primary">Cohort Analysis</a></li>
                                        <li class="tab has-text-weight-semibold" onclick="openTab(event,'Audiences')"><a class="has-text-primary">Audiences</a></li>
                                    </ul>
                                </div>
                            </nav>



                            <div class="container  ">




                                <div id="WebDev" class="content-tab">

                                    <div class="columns">
                                        <div class="column">
                                            <div class="navbar-item">
                                                <a class="button is-rounded is-primary has-text-weight-semibold has-text-white material_shadow_one_hover ">Users</a>
                                            </div>
                                        </div>
                                        <div class="column ">
                                            <div class="navbar-item is-pulled-right">
                                                <div class="field is-grouped is-grouped-multiline">

                                                    <div class="control material_shadow_one">
                                                        <div class="tags has-addons">
                                                            <span class="tag is-info  has-text-weight-semibold material_shadow_one_hover">Houerly</span>
                                                            <span class="tag is-primary has-text-black has-text-weight-semibold material_shadow_one_hover">Day</span>
                                                            <span class="tag is-primary has-text-black  has-text-weight-semibold material_shadow_one_hover">Week</span>
                                                            <span class="tag is-primary has-text-black  has-text-weight-semibold material_shadow_one_hover">Month</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="notification transparent">
                                        <div id="chart"></div>
                                    </div>
                                    <nav class="level">
                                        <div class="level-item has-text-centered">
                                            <div>
                                                <p class="heading has-text-primary">Users</p>
                                                <p class="title has-text-grey">886</p>

                                            </div>
                                        </div>
                                        <div class="level-item has-text-centered">
                                            <div>
                                                <p class="heading has-text-primary">New Users</p>
                                                <p class="title has-text-grey">756</p>
                                            </div>
                                        </div>
                                        <div class="level-item has-text-centered">
                                            <div>
                                                <p class="heading has-text-primary">1.30</p>
                                                <p class="title has-text-grey">456K</p>
                                            </div>
                                        </div>
                                        <div class="level-item has-text-centered">
                                            <div>
                                                <p class="heading has-text-primary">2,677</p>
                                                <p class="title has-text-grey">789</p>
                                            </div>
                                        </div>
                                        <div class="level-item has-text-centered">
                                            <div>
                                                <p class="heading has-text-primary">Session</p>
                                                <p class="title has-text-grey">1.151</p>
                                            </div>
                                        </div>
                                        <div class="level-item has-text-centered">
                                            <div>
                                                <p class="heading has-text-primary">Page/Session</p>
                                                <p class="title has-text-grey">2.33</p>
                                            </div>
                                        </div>
                                        <div class="level-item has-text-centered">
                                            <div>
                                                <p class="heading has-text-primary">Avg. Session Duration</p>
                                                <p class="title has-text-grey">00:02:43</p>
                                            </div>
                                        </div>
                                        <div class="level-item has-text-centered">
                                            <div>
                                                <p class="heading has-text-primary">Bounce Rate</p>
                                                <p class="title has-text-grey">60,73%</p>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                                <div id="WebAud" class="content-tab" style="display:none">
                                    <div class="columns">
                                        <div class="column">
                                            <div class="notification cards dark_mode_shadow">
                                                <label class="checkbox">
                                                    <input type="checkbox">
                                                    <small class="has-text-primary">1 Day active users</small>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="notification cards dark_mode_shadow">
                                                <label class="checkbox">
                                                    <input type="checkbox">
                                                    <small class="has-text-primary">7 Day active users</small>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="notification cards dark_mode_shadow">
                                                <label class="checkbox">
                                                    <input type="checkbox">
                                                    <small class="has-text-primary">14 Day active users</small>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="notification cards dark_mode_shadow">
                                                <label class="checkbox">
                                                    <input type="checkbox">
                                                    <small class="has-text-primary">28 Day active users</small>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="notification transparent">
                                        <div class="chart-container">
                                            <div class="graph-svg-tip comparison" style="top: 0px; left: 0px; opacity: 0;" data-point-index="2"><span class="title">12AM-3AM<strong></strong></span>
                                                <ul class="data-point-list">
                                                    <li style="border-top: 3px solid rgb(94, 100, 255);"><strong style="display: block;">25 pts</strong>
                                                        Some Data</li>
                                                </ul>
                                                <div class="svg-pointer" style="left: 50%;"></div>
                                            </div><svg class="frappe-chart chart" width="1088" height="200">
                                                <defs>
                                                    <linearGradient id="path-fill-gradient-#5e64ff-lighter" x1="0" x2="0" y1="0" y2="1">
                                                        <stop style="stop-color: #5e64ff" offset="0%" stop-opacity="0.4"></stop>
                                                        <stop style="stop-color: #5e64ff" offset="50%" stop-opacity="0.2"></stop>
                                                        <stop style="stop-color: #5e64ff" offset="100%" stop-opacity="0"></stop>
                                                    </linearGradient>
                                                </defs><text class="title" x="20" y="10" dy="12px" font-size="12px" fill="#666666" text-anchor="start">Active Users</text>
                                                <g class="line-chart chart-draw-area" transform="translate(50, 50)">
                                                    <g class="y axis" transform="">
                                                        <g transform="translate(0, 110)" stroke-opacity="1">
                                                            <line class="line-horizontal " x1="-6" x2="1014" y1="0" y2="0" style="stroke: rgb(218, 218, 218);"></line><text x="-10" y="0" dy="3px" font-size="10px" text-anchor="end">-20</text>
                                                        </g>
                                                        <g transform="translate(0, 82.5)" stroke-opacity="1">
                                                            <line class="line-horizontal " x1="-6" x2="1014" y1="0" y2="0" style="stroke: rgb(218, 218, 218);"></line><text x="-10" y="0" dy="3px" font-size="10px" text-anchor="end">0</text>
                                                        </g>
                                                        <g transform="translate(0, 55)" stroke-opacity="1">
                                                            <line class="line-horizontal " x1="-6" x2="1014" y1="0" y2="0" style="stroke: rgb(218, 218, 218);"></line><text x="-10" y="0" dy="3px" font-size="10px" text-anchor="end">20</text>
                                                        </g>
                                                        <g transform="translate(0, 27.5)" stroke-opacity="1">
                                                            <line class="line-horizontal " x1="-6" x2="1014" y1="0" y2="0" style="stroke: rgb(218, 218, 218);"></line><text x="-10" y="0" dy="3px" font-size="10px" text-anchor="end">40</text>
                                                        </g>
                                                        <g transform="translate(0, 0)" stroke-opacity="1">
                                                            <line class="line-horizontal " x1="-6" x2="1014" y1="0" y2="0" style="stroke: rgb(218, 218, 218);"></line><text x="-10" y="0" dy="3px" font-size="10px" text-anchor="end">60</text>
                                                        </g>
                                                    </g>
                                                    <g class="x axis" transform="">
                                                        <g transform="translate(63, 0)">
                                                            <line class="line-vertical " x1="0" x2="0" y1="116" y2="-6" style="stroke: rgb(218, 218, 218);"></line><text x="0" y="120" dy="10px" font-size="10px" text-anchor="middle">12am-3am</text>
                                                        </g>
                                                        <g transform="translate(189, 0)">
                                                            <line class="line-vertical " x1="0" x2="0" y1="116" y2="-6" style="stroke: rgb(218, 218, 218);"></line><text x="0" y="120" dy="10px" font-size="10px" text-anchor="middle">3am-6am</text>
                                                        </g>
                                                        <g transform="translate(315, 0)">
                                                            <line class="line-vertical " x1="0" x2="0" y1="116" y2="-6" style="stroke: rgb(218, 218, 218);"></line><text x="0" y="120" dy="10px" font-size="10px" text-anchor="middle">6am-9am</text>
                                                        </g>
                                                        <g transform="translate(441, 0)">
                                                            <line class="line-vertical " x1="0" x2="0" y1="116" y2="-6" style="stroke: rgb(218, 218, 218);"></line><text x="0" y="120" dy="10px" font-size="10px" text-anchor="middle">9am-12pm</text>
                                                        </g>
                                                        <g transform="translate(567, 0)">
                                                            <line class="line-vertical " x1="0" x2="0" y1="116" y2="-6" style="stroke: rgb(218, 218, 218);"></line><text x="0" y="120" dy="10px" font-size="10px" text-anchor="middle">12pm-3pm</text>
                                                        </g>
                                                        <g transform="translate(693, 0)">
                                                            <line class="line-vertical " x1="0" x2="0" y1="116" y2="-6" style="stroke: rgb(218, 218, 218);"></line><text x="0" y="120" dy="10px" font-size="10px" text-anchor="middle">3pm-6pm</text>
                                                        </g>
                                                        <g transform="translate(819, 0)">
                                                            <line class="line-vertical " x1="0" x2="0" y1="116" y2="-6" style="stroke: rgb(218, 218, 218);"></line><text x="0" y="120" dy="10px" font-size="10px" text-anchor="middle">6pm-9pm</text>
                                                        </g>
                                                        <g transform="translate(945, 0)">
                                                            <line class="line-vertical " x1="0" x2="0" y1="116" y2="-6" style="stroke: rgb(218, 218, 218);"></line><text x="0" y="120" dy="10px" font-size="10px" text-anchor="middle">9pm-12am</text>
                                                        </g>
                                                    </g>
                                                    <g class="dataset-units dataset-line dataset-0" transform="">
                                                        <path class="line-graph-path" d="M63,48.13L189,27.5L315,41.25L441,34.38L567,71.5L693,11L819,59.13L945,88" style="stroke: rgb(94, 100, 255); fill: none;"></path>
                                                        <path class="region-fill" d="M63,82.5L63,48.13L189,27.5L315,41.25L441,34.38L567,71.5L693,11L819,59.13L945,88L945,82.5" style="stroke: none; fill: url(&quot;#path-fill-gradient-#5e64ff-lighter&quot;);"></path>
                                                        <circle style="fill: #5e64ff" data-point-index="0" cx="63" cy="48.13" r="4"></circle>
                                                        <circle style="fill: #5e64ff" data-point-index="1" cx="189" cy="27.5" r="4"></circle>
                                                        <circle style="fill: #5e64ff" data-point-index="2" cx="315" cy="41.25" r="4"></circle>
                                                        <circle style="fill: #5e64ff" data-point-index="3" cx="441" cy="34.38" r="4"></circle>
                                                        <circle style="fill: #5e64ff" data-point-index="4" cx="567" cy="71.5" r="4"></circle>
                                                        <circle style="fill: #5e64ff" data-point-index="5" cx="693" cy="11" r="4"></circle>
                                                        <circle style="fill: #5e64ff" data-point-index="6" cx="819" cy="59.13" r="4"></circle>
                                                        <circle style="fill: #5e64ff" data-point-index="7" cx="945" cy="88" r="4"></circle>
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>

                                    </div>
                                    <nav class="level">
                                        <div class="level-item has-text-left">
                                            <div>
                                                <p class="heading has-text-primary">1-Day Active Users</p>
                                                <p class="is-size-5 has-text-primary">3,456</p>
                                                <small class="has-text-grey">% of Total: 100.00% (126)</small>

                                            </div>
                                        </div>
                                        <div class="is-divider" data-content="OR"></div>

                                        <div class="level-item has-text-left">
                                            <div>
                                                <p class="heading has-text-primary">7-Day Active Users</p>
                                                <p class="is-size-5 has-text-primary">123</p>
                                                <small class="has-text-grey">% of Total: 100.00% (886)</small>

                                            </div>
                                        </div>
                                        <div class="level-item has-text-left">
                                            <div>
                                                <p class="heading has-text-primary">14-Day Active Users</p>
                                                <p class="is-size-5 has-text-primary">456K</p>
                                                <small class="has-text-grey">% of Total: 100.00% (2,079)</small>

                                            </div>
                                        </div>
                                        <div class="level-item has-text-left">
                                            <div>
                                                <p class="heading has-text-primary">28-Day Active Users</p>
                                                <p class="is-size-5 has-text-primary">789</p>
                                                <small class="has-text-grey">% of Total: 100.00% (3,490)</small>

                                            </div>
                                        </div>

                                    </nav>
                                </div>
                                <div id="Support" class="content-tab" style="display:none">

                                    <div class="columns">
                                        <div class="column">
                                            <div class="navbar-item">
                                                <a class="button is-rounded is-primary has-text-weight-semibold has-text-black material_shadow_one_hover ">Users</a>
                                                <a class="button is-rounded is-primary has-text-weight-semibold has-text-black material_shadow_one_hover ">Users</a>
                                            </div>
                                        </div>
                                        <div class="column ">
                                            <div class="navbar-item is-pulled-right">
                                                <div class="field is-grouped is-grouped-multiline">

                                                    <div class="control material_shadow_one">
                                                        <div class="tags has-addons">

                                                            <span class="tag is-dark has-text-weight-semibold material_shadow_one_hover">Day</span>
                                                            <span class="tag is-primary has-text-weight-semibold material_shadow_one_hover">Week</span>
                                                            <span class="tag is-primary has-text-weight-semibold material_shadow_one_hover">Month</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="colunms">
                                       <div class="notification dark_shadow cards">
                                        <p class="has-text-primary">
                                            Preview 3 <br>
                                            Specification Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                            </div>
                                    </div>
                                </div>
                                <div id="Analisys" class="content-tab" style="display:none">
                                    <div class="notification dark_shadow cards">
                                        <p class="has-text-primary">
                                            Preview 3 <br>
                                            Specification Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                            </div>
                                </div>
                                <div id="Audiences" class="content-tab" style="display:none">
                                    <div class="notification dark_shadow cards">
                                        <p class="has-text-primary">
                                            Preview 3 <br>
                                            Specification Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                            </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


            </div>


        </div>

    </div>
    <scrpit src="../javascript/chart.js"></scrpit>
    <!--     <scrpit src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></scrpit>
     -->
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="https://unpkg.com/frappe-charts@1.1.0"></script>

    <script>
        //tabs
        function openTab(evt, tabName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("content-tab");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tab");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" is-active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " is-active";
        }


        //chart
        let chart = new frappe.Chart("#chart", { // or DOM element
            data: {
                labels: ["12am-3am", "3am-6am", "6am-9am", "9am-12pm",
                    "12pm-3pm", "3pm-6pm", "6pm-9pm", "9pm-12am"
                ],
                lineOptions: {
                    regionFill: 1 // default: 0
                },
                datasets: [{
                        name: "Some Data",
                        values: [25, 40, 30, 35, 8, 52, 17, -4]
                    },
                    // {
                    //   name: "Another Set", chartType: 'line',
                    //   values: [25, 50, -10, 15, 18, 32, 27, 14]
                    // },
                    // {
                    //   name: "Yet Another", chartType: 'line',
                    //   values: [15, 20, -3, -15, 58, 12, -17, 37]
                    // }
                ],
            },

            title: "Overview",
            type: 'axis-mixed', // or 'bar', 'line', 'pie', 'percentage'
            height: 200,
            colors: ['blue', '#ffa3ef', 'light-blue'],
            lineOptions: {
                regionFill: 1 // default: 0
            },
            tooltipOptions: {
                formatTooltipX: d => (d + '').toUpperCase(),
                formatTooltipY: d => d + ' pts',
            }
        });


        // second chart

    </script>
</body>


</html>
