<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Free Bulma Template by Michael Andreuzza || E-Commerce template</title>


    <link rel="stylesheet" href="../css/e-commerce.css">
    <link rel="stylesheet" href="../css/bulma_pricing-table.min.css/price_cards.css">







    <!--Bulma-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
    <link href="https://unpkg.com/bulma-fluent@0.3.13/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/d9f8af3987.js"></script>
</head>




<body>

    <div class="section transparent is-paddingless">


        <!--- Nav  --->
        <div class="section  bg_commerce_landing">

            <!--- Nav  --->
            <div class="container transparent">

                <div class="hero-head transparent">

                    <nav class="navbar is-fixed-top is-spaced ">
                        <div class="navbar-brand shadowless">
                            <a class="navbar-item has-text-grey" href="#">
                                Bulma E-Commerce Template
                            </a>

                            <span class="navbar-burger burger is-centered" data-target="navMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>

                        <div id="navMenu" class="navbar-menu transparent">


                            <div class="navbar-start ">
                                <div class="navbar-item">

                                    <a class=" navbar-item  has-text-grey">
                                        Home
                                    </a>
                                    <div class="navbar-item  has-dropdown is-hoverable  is-expanded">
                                        <a class="navbar-item has-text-grey is-size-6 has-text-grey  ">
                                            Shop
                                        </a>
                                        <div class="navbar-dropdown">
                                            <a class="navbar-item  is-size-6 has-text-grey" href="./contact.html">
                                                Product 1
                                            </a>
                                            <a class="navbar-item  is-size-6 has-text-grey" href="./contact.html">
                                                Product 2
                                            </a>
                                            <a class="navbar-item  is-size-6 has-text-grey" href="./contact.html">
                                                Product 2
                                            </a>
                                            <a class="navbar-item  is-size-6 has-text-grey" href="./contact.html">
                                                Product 3
                                            </a>
                                            <a class="navbar-item  is-size-6 has-text-grey" href="./contact.html">
                                                Product 4
                                            </a>

                                        </div>
                                    </div>
                                    <div class="navbar-item  has-dropdown is-hoverable  is-expanded">
                                        <a class="navbar-item is-size-6 has-text-grey  ">
                                            Blog
                                        </a>
                                        <div class="navbar-dropdown">
                                            <a class="navbar-item  is-size-6 has-text-grey" href="./contact.html">
                                                Blog directory 1
                                            </a>
                                            <a class="navbar-item  is-size-6 has-text-grey" href="./contact.html">
                                                Blog directory 2

                                            </a>
                                            <a class="navbar-item  is-size-6 has-text-grey" href="./contact.html">
                                                Blog directory 3
                                            </a>
                                            <a class="navbar-item  is-size-6 has-text-grey" href="./contact.html">
                                                Blog directory 4
                                            </a>
                                            <a class="navbar-item  is-size-6 has-text-grey" href="./contact.html">
                                                Blog directory 5
                                            </a>

                                        </div>
                                    </div>
                                    <div class="navbar-item  has-dropdown is-hoverable  is-expanded">
                                        <a class="navbar-item is-size-6 has-text-grey  ">
                                            Pages
                                        </a>
                                        <div class="navbar-dropdown">
                                            <a class="navbar-item  is-size-6 has-text-grey" href="./contact.html">
                                                Directory
                                            </a>
                                            <a class="navbar-item  is-size-6 has-text-grey" href="./contact.html">
                                                Directory
                                            </a>
                                            <a class="navbar-item  is-size-6 has-text-grey" href="./contact.html">
                                                Directory
                                            </a>
                                            <a class="navbar-item  is-size-6 has-text-grey" href="./contact.html">
                                                Directory
                                            </a>
                                            <a class="navbar-item  is-size-6 has-text-grey" href="./contact.html">
                                                Directory
                                            </a>

                                        </div>
                                    </div>
                                    <a class=" navbar-item  has-text-grey">
                                        Home
                                    </a>
                                </div>
                            </div>
                            <div class="navbar-end">
                                <div class="navbar-item">

                                    <a class=" navbar-item is-white has-text-grey">
                                        <i class="fas fa-search"></i>
                                    </a><a class=" navbar-item is-white has-text-grey">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                    <a class="button is-rounded  is-grey is-outlined has-text-grey has-text-weight-bold">
                                        Buy now
                                    </a>

                                </div>
                            </div>
                        </div>
                    </nav>
                </div>

            </div>
            <!---  End Nav    --->


            <div class="hero is-fullheight bg_landing ">
                <div class="hero-body">
                    <div class="container has-text-left">
                        <div class="column is-6 is-offset-6">
                            <h2 class="subtitle  has-text-black">
                                Intro Text
                            </h2>

                            <h1 class="title is-1  has-text-black">
                                E-Commerce Template
                            </h1>
                            <p></p>

                            <h2 class="is-4  has-text-black is-spaced">
                                Lorem ipsum dolor amet trust fund venmo af literally ethical sriracha salvia kogi cronut 3 wolf moon tacos. Viral hammock iceland hexagon, cray fam godard actually poutine slow-carb bespoke live-edge DIY literally crucifix.
                            </h2>
                            <p class="subtitle"></p>

                            <div class="buttons is-left transparent ">
                                <p class="button is-black is-rounded has-text-weight-bold">
                                    Purchase now
                                </p>
                                <p class="button is-black is-outlined is-rounded">
                                    Learn more
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="section  ">
            <div class="container ">


                <div class="columns ">

                    <div class="column is-spaced">
                        <figure class="image is-4by3 transparent">
                            <img src="https://images.unsplash.com/photo-1489269637500-aa0e75768394?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="USB">
                        </figure>

                    </div>
                    <div class="column is-spaced">
                        <figure class="image is-4by3 transparent">
                            <img src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=989&q=80" alt="USB">
                        </figure>
                    </div>
                    <div class="column is-spaced">
                        <figure class="image is-4by3 transparent">
                            <img src="https://images.unsplash.com/photo-1551091016-1cdefa81989d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="USB">
                        </figure>
                    </div>
                </div>
            </div>
        </div>


        <div class="container has-text-left ">
            <div class="columns is-multiline ">
                <div class="column is-12 ">
                    <h2 class="is-3  has-text-black">
                        Description
                    </h2>
                    <h1 class="title is-1 has-text-grey has-text-weight-bold">
                        Trending Product
                    </h1>
                    <h2 class="is-4  has-text-black">
                        <a href="#"> See All </a>
                    </h2>

                </div>
                <div class="column is-3">
                    <figure class="image is-4by3 transparent">
                        <img src="https://images.unsplash.com/photo-1517858818796-d31fc694c92a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="USB">
                    </figure>
                    <div class="box has-text-centered">
                        <h2 class="is-4  has-text-grey">
                            Category
                        </h2>
                        <h1 class="subtitle  has-text-black has-text-weight-bold">
                            Producs
                        </h1>
                        <h2 class="title  has-text-grey">
                            € 00.00
                        </h2>
                    </div>
                </div>
                <div class="column is-3">
                    <figure class="image is-4by3 transparent">
                        <img src="https://images.unsplash.com/37/tEREUy1vSfuSu8LzTop3_IMG_2538.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="USB">
                    </figure>
                    <div class="box has-text-centered">
                        <h2 class="is-4  has-text-grey">
                            Category
                        </h2>
                        <h1 class="subtitle  has-text-black has-text-weight-bold">
                            Producs
                        </h1>
                        <h2 class="title  has-text-grey">
                            € 00.00
                        </h2>
                    </div>
                </div>
                <div class="column is-3 ">
                    <figure class="image is-4by3 transparent">
                        <img src="https://images.unsplash.com/photo-1533740566848-5f7d3e04e3d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="USB">
                    </figure>
                    <div class="box has-text-centered">
                        <h2 class="is-4  has-text-grey">
                            Category
                        </h2>
                        <h1 class="subtitle  has-text-black has-text-weight-bold">
                            Producs
                        </h1>
                        <h2 class="title  has-text-grey">
                            € 00.00
                        </h2>
                    </div>
                </div>
                <div class="column is-3 ">
                    <figure class="image is-4by3 transparent">
                        <img src="https://images.unsplash.com/photo-1525171254930-643fc658b64e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="USB">
                    </figure>
                    <div class="box has-text-centered">
                        <h2 class="is-4  has-text-grey">
                            Category
                        </h2>
                        <h1 class="subtitle  has-text-black has-text-weight-bold">
                            Producs
                        </h1>
                        <h2 class="title  has-text-grey">
                            € 00.00
                        </h2>
                    </div>
                </div>
                <div class="column is-3 ">
                    <figure class="image is-4by3 transparent">
                        <img src="https://images.unsplash.com/photo-1525200845123-a29d24f1ae65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="USB">
                    </figure>
                    <div class="box has-text-centered">
                        <h2 class="is-4  has-text-grey">
                            Category
                        </h2>
                        <h1 class="subtitle  has-text-black has-text-weight-bold">
                            Producs
                        </h1>
                        <h2 class="title  has-text-grey">
                            € 00.00
                        </h2>
                    </div>
                </div>
                <div class="column is-3 ">
                    <figure class="image is-4by3 transparent">
                        <img src="https://images.unsplash.com/37/tEREUy1vSfuSu8LzTop3_IMG_2538.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="USB">
                    </figure>
                    <div class="box has-text-centered">
                        <h2 class="is-4  has-text-grey">
                            Category
                        </h2>
                        <h1 class="subtitle  has-text-black has-text-weight-bold">
                            Producs
                        </h1>
                        <h2 class="title  has-text-grey">
                            € 00.00
                        </h2>
                    </div>
                </div>
                <div class="column is-3 ">
                    <figure class="image is-4by3 transparent">
                        <img src="https://images.unsplash.com/photo-1551910147-371009214918?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="USB">
                    </figure>
                    <div class="box has-text-centered">
                        <h2 class="is-4  has-text-grey">
                            Category
                        </h2>
                        <h1 class="subtitle  has-text-black has-text-weight-bold">
                            Producs
                        </h1>
                        <h2 class="title  has-text-grey">
                            € 00.00
                        </h2>
                    </div>
                </div>
                <div class="column is-3 ">
                    <figure class="image is-4by3 transparent">
                        <img src="https://images.unsplash.com/photo-1436473849883-bb3464c23e93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="USB">
                    </figure>
                    <div class="box has-text-centered">
                        <h2 class="is-4  has-text-grey">
                            Category
                        </h2>
                        <h1 class="subtitle  has-text-black has-text-weight-bold">
                            Producs
                        </h1>
                        <h2 class="title  has-text-grey">
                            € 00.00
                        </h2>
                    </div>
                </div>
            </div>
        </div>


        <section class="hero  is-medium bg_comerce_sale">
            <div class="hero-body">
                <div class="container has-text-left">
                    <div class="columns">
                        <div class="column is-4">


                            <h1 class="title is-2">
                                Up till 70% off...
                            </h1>
                            <h2 class="subtitle">
                                Summers sales inside !
                            </h2>
                            <p class="subtitle"></p>

                            <div class="buttons is-left transparent ">
                                <p class="button is-black is-rounded has-text-weight-bold">
                                    Purchase now
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="section">
            <div class="container has-text-left ">
                <div class="columns is-multiline ">
                    <div class="column is-12 ">
                        <h2 class="is-3  has-text-black">
                            Description
                        </h2>
                        <h1 class="title is-1 has-text-grey has-text-weight-bold">
                            Best Sellers
                        </h1>
                        <h2 class="is-4  has-text-black">
                            <a href="#"> See All</a>
                        </h2>


                    </div>

                    <div class="column is-3">
                        <figure class="image is-4by3 transparent">
                            <img src="https://images.unsplash.com/photo-1517858818796-d31fc694c92a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="USB">
                        </figure>
                        <div class="box has-text-centered">
                            <h2 class="is-4  has-text-grey">
                                Category
                            </h2>
                            <h1 class="subtitle  has-text-black has-text-weight-bold">
                                Producs
                            </h1>
                            <h2 class="title  has-text-grey">
                                € 00.00
                            </h2>
                        </div>
                    </div>
                    <div class="column is-3">
                        <figure class="image is-4by3 transparent">
                            <img src="https://images.unsplash.com/37/tEREUy1vSfuSu8LzTop3_IMG_2538.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="USB">
                        </figure>
                        <div class="box has-text-centered">
                            <h2 class="is-4  has-text-grey">
                                Category
                            </h2>
                            <h1 class="subtitle  has-text-black has-text-weight-bold">
                                Producs
                            </h1>
                            <h2 class="title  has-text-grey">
                                € 00.00
                            </h2>
                        </div>
                    </div>
                    <div class="column is-3 ">
                        <figure class="image is-4by3 transparent">
                            <img src="https://images.unsplash.com/photo-1533740566848-5f7d3e04e3d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="USB">
                        </figure>
                        <div class="box has-text-centered">
                            <h2 class="is-4  has-text-grey">
                                Category
                            </h2>
                            <h1 class="subtitle  has-text-black has-text-weight-bold">
                                Producs
                            </h1>
                            <h2 class="title  has-text-grey">
                                € 00.00
                            </h2>
                        </div>
                    </div>
                    <div class="column is-3 ">
                        <figure class="image is-4by3 transparent">
                            <img src="https://images.unsplash.com/photo-1525171254930-643fc658b64e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="USB">
                        </figure>
                        <div class="box has-text-centered">
                            <h2 class="is-4  has-text-grey">
                                Category
                            </h2>
                            <h1 class="subtitle  has-text-black has-text-weight-bold">
                                Producs
                            </h1>
                            <h2 class="title  has-text-grey">
                                € 00.00
                            </h2>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="section is-large is-spaced">
            <div class="container has-text-left  is-spaced">
                <div class="columns is-multiline ">
                    <div class="column is-12 ">
                        <h2 class="is-3  has-text-black">
                            Description
                        </h2>
                        <h1 class="title is-1 has-text-grey has-text-weight-bold">
                            Fresh News
                        </h1>
                        <h2 class="is-4  has-text-black">
                            <a href="#"> See All</a>
                        </h2>


                    </div>

                    <div class="column ">
                        <figure class="image is-4by3 transparent">
                            <img src="https://images.unsplash.com/photo-1483985988355-763728e1935b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="USB">
                        </figure>
                        <small class="has-text-grey">
                            <i>By <a href="https://www.michaelandreuzza.com">Michael Andreuzza,</a>
                            </i>
                        </small>

                        <small class=" quicksand">
                            <i>2 <a href="#">Comments</a>
                            </i>
                        </small>


                        <p class="subtitle"></p>
                        <p class="subtitle has-text-weight-bold">
                            Cray fam godard actually poutine slow-carb
                        </p>
                        <p class="is-3">
                            Lorem ipsum dolor amet trust fund venmo af literally ethical sriracha salvia kogi cronut 3 wolf moon tacos. Viral hammock iceland hexagon.
                        </p>
                        <a class=" is-white">Read More <i class="fas fa-arrow-right"></i></a>

                    </div>
                    <div class="column ">
                        <figure class="image is-4by3 transparent">
                            <img src="https://images.unsplash.com/photo-1482304651556-cb27a6fb596a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1003&q=80" alt="USB">
                        </figure>
                        <small class="has-text-grey">
                            <i>By <a href="https://www.michaelandreuzza.com">Michael Andreuzza,</a>
                            </i>
                        </small>

                        <small class=" quicksand">
                            <i>2 <a href="#">Comments</a>
                            </i>
                        </small>


                        <p class="subtitle"></p>
                        <p class="subtitle has-text-weight-bold">
                            Cray fam godard actually poutine slow-carb
                        </p>
                        <p class="is-3">
                            Lorem ipsum dolor amet trust fund venmo af literally ethical sriracha salvia kogi cronut 3 wolf moon tacos. Viral hammock iceland hexagon.
                        </p>
                        <a class=" is-white">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="column  ">
                        <figure class="image is-4by3 transparent">
                            <img src="https://images.unsplash.com/photo-1526489382000-91b5e20030a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="USB">
                        </figure>
                        <small class="has-text-grey">
                            <i>By <a href="https://www.michaelandreuzza.com">Michael Andreuzza,</a>
                            </i>
                        </small>

                        <small class=" quicksand">
                            <i>2 <a href="#">Comments</a>
                            </i>
                        </small>


                        <p class="subtitle"></p>
                        <p class="subtitle has-text-weight-bold">
                            Cray fam godard actually poutine slow-carb
                        </p>
                        <p class="is-3">
                            Lorem ipsum dolor amet trust fund venmo af literally ethical sriracha salvia kogi cronut 3 wolf moon tacos. Viral hammock iceland hexagon.
                        </p>
                        <a class=" is-white">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>

                </div>
            </div>


        </div>
        <div class="section has-background-primary is-bold is-medium">
            <div class="container is-large has-backround-white " id="overlayed_commerce_container">

                <div class="box has-text-centered has-backround-white">
                    <h1 class="title is-2 has-text-grey has-text-weight-bold">
                        Subscribe To Our Newsletter
                    </h1>
                    <h2 class="is-3  has-text-black">
                        Lorem ipsum dolor amet trust fund venmo af literally ethical
                    </h2>



                    <div class="colums ">

                        <div class="column is-6 is-offset-3">
                            <div class="field is-grouped">
                                <p class="control is-expanded">
                                    <input class="input   is-rounded is-primary " type="search" placeholder="Enter Your E-mail....">
                                </p>
                                <p class="control">
                                    <a class="button is-primary has-text-white is-bold is-rounded  ">
                                        Subscribe
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>






        <footer class="footer is-paddingless shadowless">
            <div class="box transparent">
                <div class="content has-text-centered transparent">
                    <p class="is-4">

                        <strong class="name logo has-text-grey">
                            Free bulma templates by</strong>
                        <span class="name logo has-text-black is-bold"><a href="https://michaelandreuzza.com" class="has-text-grey logo">Michael Andreuzza</a></span>

                    </p>
                </div>
            </div>
        </footer>


    </div>






    <script src="../javascript/bulma.js"></script>
</body>

</html>
