<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Product Landing Free Bulma Template by Michael Andreuzza || One Page Card Layout</title>



    <!--Fontawesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/login.css">




    <!--Bulma-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



</head>

<style>
    * {
        box-shadow: none !important;
    }

</style>



<body>

    <div class="section transparent is-paddingless ">





        <div class="container  is-fluid is-widescreen is-marginless is-centered">

            <div class="columns is-vcentered has-backround-white">
                <div class="column is-half shadowless ">
                    <figure class="image is-square transparent ">
                        <img src="./images/Absurd-Illustrations/09.png" alt="USB">
                    </figure>
                </div>

                <div class="column is-4 is-offset-1  ">

                    <div class="box transparent">


                        <div class="field">
                            <div class="control has-icons-left has-icons-right">
                                <input class="input " type="text" placeholder="Text input" value="Username...." style=" border-radius: 0; border: none; border-bottom: 1px solid #0D0221 !important;">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                                
                            </div>
                        </div>

                        <div class="field">
                            <div class="control has-icons-left">
                                <span class="icon is-small is-right">
                                    <i class="fas fa-lock"></i>

                                </span>
                                <input class="input " type="text" placeholder="Password" style="border-radius: 0; border: none; border-bottom: 1px solid #0D0221 !important;">
                            </div>
                        </div>


                        <button class="button is-rounded  is-fullwidth has-text-white" style=" background:#0D0221;border: none;">Log in</button>

                    </div>
                    <div class="box ">

                        <div class="box has-text-centered">
                            <p class="subtitle has-text-weight-semibold has-text-black-ter is-size-6
                           ">Or sign up using ...</p>
                        </div>
                        <nav class="level">
                            <div class="level-item has-text-centered">
                                <div>
                                    <i class="fab fa-facebook-f" style="color: #0D0221"></i>
                                </div>

                            </div>

                            <div class="level-item has-text-centered">
                                <div>
                                    <i class="fab fa-twitter" style="color: #0D0221"></i>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <i class="fab fa-google-plus-g" style="color: #0D0221"></i>
                                </div>
                            </div>
                        </nav>
                    </div>


                </div>

            </div>


        </div>
    </div>



    <footer class="footer is-paddingless shadowless ">
        <div class="box ">
            <div class="content has-text-centered transparent">
                <p class="is-4">

                    <strong class="name logo has-text-grey">
                        Free bulma templates by</strong>
                    <span class="name logo has-text-black is-bold"><a href="https://michaelandreuzza.com" class="has-text-grey logo">Michael Andreuzza</a></span>

                </p>
            </div>
        </div>
    </footer>










</body>

</html>
