<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Product Landing Free Bulma Template</title>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Product Landing Free Bulma Template</title>


    <link rel="stylesheet" href="../css/multipurpose.css">







    <!--Bulma-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
    <link href="https://unpkg.com/bulma-fluent@0.3.13/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/d9f8af3987.js"></script>
</head>




<body>

    <div class="section transparent is-paddingless">


        <!--- Nav  --->
        <div class="section  bg_landing">

            <!--- Nav  --->
            <div class="container transparent">

                <div class="hero-head transparent">

                    <nav class="navbar transparent">
                        <div class="navbar-brand shadowless">
                            <a class="navbar-item " href="#">
                                Bulma Multipurpose
                            </a>

                            <span class="navbar-burger burger is-centered" data-target="navMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>

                        <div id="navMenu" class="navbar-menu transparent">


                            <div class="navbar-end">
                                <div class="navbar-item">

                                    <a class=" navbar-item  has-text-black">
                                        <strong>Home</strong>
                                    </a>
                                    <a class=" navbar-item   has-text-black">
                                        <strong>Services</strong>
                                    </a>
                                    <a class=" navbar-item   has-text-black">
                                        <strong>Features</strong>
                                    </a>
                                    <a class=" navbar-item   has-text-black">
                                        <strong>Info</strong>
                                    </a><a class=" navbar-item   has-text-black">
                                        <strong>Testimonials</strong>
                                    </a><a class=" navbar-item   has-text-black">
                                        <strong>Pricing</strong>
                                    </a>
                                    <a class=" navbar-item   has-text-black">
                                        <strong>Contact</strong>
                                    </a>

                                    <button class=" button is-primary">
                                        <span>Call us today !</span>
                                        <span class="icon is-white">
                                            <i class="fas fa-mobile-alt "></i>
                                        </span>

                                    </button>



                                </div>
                            </div>
                        </div>
                    </nav>
                </div>

            </div>

            <!---  End Nav    --->


            <div class="hero is-fullheight bg_landing">
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <div class="column is-6 is-offset-3">
                            <h1 class="title  has-text-black">
                                Multipurpose
                            </h1>
                            <p></p>
                            <h2 class="subtitle  has-text-black">
                                Lorem ipsum dolor amet bespoke fixie synth mumblecore.
                            </h2>
                            <div class="box transparent">


                                <div class="buttons is-centered">
                                    <a class="button is-black">
                                        Purchase now
                                    </a>
                                    <a class="button is-black is-outlined">
                                        Learn more
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="section is-medium">


            <div class="container">
                <nav class="level ">
                    <div class="level-item has-text-centered ">
                        <div>
                            <p class="title has-text-grey">Europe</p>

                        </div>
                    </div>
                    <div class="level-item has-text-centered ">
                        <div>
                            <p class="title has-text-grey">Asia</p>

                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="title has-text-grey">Oceania</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="title has-text-grey">North America</p>

                        </div>
                    </div>
                </nav>

            </div>
        </div>

        <div class="section is-small">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                    <h1 class="title is-1 has-text-black has-text-weight-light">
                        Reaching out
                    </h1>
                    <p></p>
                    <h2 class="subtitle  has-text-black">
Within a hand's reach                    </h2>

                </div>

            </div>

        </div>
        <div class="section is-medium">
            <div class="container">
                <nav class="level ">
                    <div class="level-item has-text-centered">

                        <div>

                            <figure class="image is-128x128">
                                <i class="fas fa-atom fa-7x "></i>
                            </figure>
                            <hr>
                            <p class="heading">Service 1</p>
                            <p class="subtitle">A</p>

                        </div>

                    </div>

                    <div class="level-item has-text-centered">
                        <div>
                            <figure class="image is-128x128">
                                <i class="fas fa-microscope fa-7x"></i>
                            </figure>
                            <hr>
                            <p class="heading">Service 2</p>
                            <p class="subtitle">B</p>

                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <figure class="image is-128x128">
                                <i class="fas fa-brain fa-7x"></i> </figure>
                            <hr>
                            <p class="heading">Service 3</p>
                            <p class="subtitle">C</p>

                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <figure class="image is-128x128">
                                <i class="fas fa-globe fa-7x"></i> </figure>
                            <hr>
                            <p class="heading">Service 4</p>
                            <p class="subtitle">D</p>

                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <figure class="image is-128x128">
                                <i class="fas fa-space-shuttle fa-7x"></i>
                            </figure>
                            <hr>
                            <p class="heading">Service 5</p>
                            <p class="subtitle">E</p>

                        </div>
                    </div>
                </nav>

            </div>
        </div>

        <div class="section ">

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="columns is-vcentered">
                        <div class="column is-half shadowless">
                            <figure class="image is-4by3 transparent">
                                <img src="../images/MacBook%20Air%20-%20Silver.png" alt="USB">
                            </figure>
                        </div>

                        <div class="column is-half  ">
                            <h1 class="title is-1 has-text-left">
                                Our latest technology
                            </h1>
                            <h2 class="subtitle is-4 has-text-left">
                                Description
                            </h2>
                            <br>
                            <p class="has-text-centered  has-text-left ">
                                <a class="button  is-primary">
                                    Get yours now
                                </a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>




        <div class="container is-fluid is-widescreen is-marginless is-centered">

            <div class="columns is-vcentered has-background-info">
                <div class="column is-half shadowless is-paddingless">
                    <figure class="image is-4by3 transparent">
                        <img src="https://images.unsplash.com/photo-1457364847821-58861bbda116?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="USB">
                    </figure>
                </div>

                <div class="column is-half  ">

                    <div class="box transparent">
                        <div class="content transparent has-text-left">
                            <div class="box transparent">
                                <h1 class="title is-1 is-left has-text-weight-light">
                                    Research and Innovation
                                </h1>
                                <p class="">
                                    Skateboard tumblr man braid sustainable 90's blue bottle ramps raclette XOXO occupy pabst chia godard adaptogen farm-to-table. Pour-over slow-carb cardigan organic portland pickled. Gastropub post-ironic roof party thundercats ramps. Normcore cloud bread twee crucifix, jean shorts forage chambray af microdosing XOXO hoodie. Gastropub hot chicken tofu vape pug, messenger bag kitsch. Heirloom pug kickstarter fanny pack microdosing. </p>
                                <ul>
                                    <li>First</li>
                                    <li>Second</li>
                                    <li>Third</li>
                                    <li>Fourth</li>
                                </ul>
                            </div>
                        </div>
                    </div>



                </div>

            </div>










        </div>
        <div class="section ">

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="columns is-vcentered">


                        <div class="column is-half  ">
                            <h1 class="title is-1 has-text-left">
                                Cta section
                            </h1>
                            <h2 class="subtitle is-4 has-text-left">
                                Description
                            </h2>
                            <br>
                            <p class="has-text-centered  has-text-left ">
                                <a class="button  is-primary">
                                    Get yours now
                                </a>
                            </p>
                        </div>
                        <div class="column is-half shadowless">
                            <figure class="image is-4by3 transparent">
                                <img src="../images/white_iphone.png" alt="USB">
                            </figure>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="section has-background-white">
            <div class="section">
                <div class="columns">
                    <div class="column  is-full has-text-centered">
                        <h1 class="title  has-text-black has-text-weight-light">
                            Use this as cards for features ...
                        </h1>
                        <p></p>
                        <h2 class="subtitle  has-text-black">
                            ...or anything you want
                        </h2>
                        <div class="box transparent">

                            <div class="columns has-text-centered  is-multiline">

                                <div class="column ">

                                    <div class="card border">
                                        <div class="card-image">
                                            <figure class="image is-4by3">
                                                <img src="https://images.unsplash.com/photo-1485827404703-89b55fcc595e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <p class="title  has-text-left has-text-weight-light">Title</p>
                                                <p class="subtitle  has-text-grey has-text-left ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>


                                            </div>

                                            <a href="#" class="button  is-primary">Learn More</a>

                                        </div>





                                    </div>
                                </div>

                                <div class="column ">
                                    <div class="card border">
                                        <div class="card-image">
                                            <figure class="image is-4by3">
                                                <img src="https://images.unsplash.com/photo-1531746790731-6c087fecd65a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=995&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <p class="title  has-text-left has-text-weight-light">Title</p>
                                                <p class="subtitle  has-text-grey has-text-left ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>


                                            </div>

                                            <a href="#" class="button  is-primary">Learn More</a>

                                        </div>

                                    </div>
                                </div>

                                <div class="column ">
                                    <div class="card border">
                                        <div class="card-image">
                                            <figure class="image is-4by3">
                                                <img src="https://images.unsplash.com/photo-1531747118685-ca8fa6e08806?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=942&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <p class="title  has-text-left has-text-weight-light">Title</p>
                                                <p class="subtitle  has-text-grey has-text-left ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>


                                            </div>

                                            <a href="#" class="button  is-primary">Learn More</a>

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="section has-background-white">
            <div class="section">
                <div class="columns">
                    <div class="column  is-full has-text-centered">
                        <h1 class="title is-1 has-text-centered">
                            Peoples reviews
                        </h1>
                        <p></p>
                        <h2 class="subtitle  has-text-grey">
                            or anything you want
                        </h2>
                        <div class="box transparent">

                            <div class="columns has-text-centered  is-multiline">

                                <div class="column ">
                                    <div class="card border">


                                        <div class="card-content">

                                            <div class="card-content">
                                                

                                                    <p class="subtitle  has-text-grey has-text-left ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.Lorem onsectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                    </p>


                                                

                                                <div class="media">
                                                    <div class="media-left">
                                                        <figure class="image is-48x48 ">
                                                            <img class="is-rounded" src="https://randomuser.me/api/portraits/women/17.jpg">
                                                        </figure>
                                                    </div>
                                                    <div class="media-content">
                                                        <p class="title is-4">Viveca Harrisson</p>
                                                        <p class="subtitle is-6">@harrisonvive</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="column ">
                                    <div class="card border">


                                        <div class="card-content">

                                            <div class="card-content">
                                                

                                                    <p class="subtitle  has-text-grey has-text-left ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.Lorem onsectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                    </p>


                                               

                                                <div class="media">
                                                    <div class="media-left">
                                                        <figure class="image is-48x48">
                                                            <img class="is-rounded" src="https://randomuser.me/api/portraits/men/91.jpg" alt="Placeholder image">
                                                        </figure>
                                                    </div>
                                                    <div class="media-content">
                                                        <p class="title is-4">Michael Lexington</p>
                                                        <p class="subtitle is-6">@mike_lex</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="column ">
                                    <div class="card border">


                                        <div class="card-content">

                                            <div class="card-content">
                                                

                                                    <p class="subtitle  has-text-grey has-text-left ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.Lorem onsectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                    </p>


                                                

                                                <div class="media">
                                                    <div class="media-left">
                                                        <figure class="image is-48x48">
                                                            <img class="is-rounded" src="https://tinyfac.es/data/avatars/26CFEFB3-21C8-49FC-8C19-8E6A62B6D2E0-200w.jpeg" alt="Placeholder image">
                                                        </figure>
                                                    </div>
                                                    <div class="media-content">
                                                        <p class="title is-4">Jared Ponts</p>
                                                        <p class="subtitle is-6">@jponts</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="section">
            <div class="container">

                <div class="notification transparent">
                    <h1 class="title is-1 has-text-centered">
                        Check out our prices
                    </h1>
                    <h2 class="subtitle is-5 has-text-centered">
                        Description Phasellus nec iaculis mauris.
                    </h2>
                </div>
                <div class="pricing-table">
                    <div class="pricing-plan">
                        <div class="plan-header">Starter</div>
                        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>20</span>/month</div>
                        <div class="plan-items ">
                            <div class="plan-item transparent">20GB Storage</div>
                            <div class="plan-item transparent">100 Domains</div>
                            <div class="plan-item transparent">-</div>
                            <div class="plan-item transparent">-</div>
                        </div>
                        <div class="plan-footer">
                            <button class="button is-fullwidth" disabled="disabled">Current plan</button>
                        </div>
                    </div>

                    <div class="pricing-plan is-success is-bold">
                        <div class="plan-header">Startups</div>
                        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>40</span>/month</div>
                        <div class="plan-items">
                            <div class="plan-item transparent">20GB Storage</div>
                            <div class="plan-item transparent">25 Domains</div>
                            <div class="plan-item transparent">1TB Bandwidth</div>
                            <div class="plan-item transparent">-</div>
                        </div>
                        <div class="plan-footer">
                            <button class="button is-fullwidth">Choose</button>
                        </div>
                    </div>

                    <div class="pricing-plan is-active is-aboldane">
                        <div class="plan-header">Growing Team</div>
                        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>60</span>/month</div>
                        <div class="plan-items">
                            <div class="plan-item transparent">200GB Storage</div>
                            <div class="plan-item transparent">50 Domains</div>
                            <div class="plan-item transparent">1TB Bandwidth</div>
                            <div class="plan-item transparent">100 Email Boxes</div>
                        </div>
                        <div class="plan-footer">
                            <button class="button is-fullwidth">Choose</button>
                        </div>
                    </div>

                    <div class="pricing-plan is-danger">
                        <div class="plan-header">Enterprise</div>
                        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>100</span>/month</div>
                        <div class="plan-items">
                            <div class="plan-item transparent">2TB Storage</div>
                            <div class="plan-item transparent">100 Domains</div>
                            <div class="plan-item transparent">1TB Bandwidth</div>
                            <div class="plan-item transparent">1000 Email Boxes</div>
                        </div>
                        <div class="plan-footer">
                            <button class="button is-fullwidth">Choose</button>
                        </div>
                    </div>
                </div>
            </div>
<div class="section is-small">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                    <h1 class="title is-1 has-text-black has-text-weight-light">
                        Support number:
                    </h1>
                    <p></p>
                    <h2 class="subtitle  has-text-black">
                       sup: 000 - 000 - 0000
                    </h2>

                </div>

            </div>

        </div>




        </div>


        <footer class="footer is-paddingless shadowless">
            <div class="box transparent">
                <div class="content has-text-centered transparent">
                    <p class="is-4">

                        <strong class="name logo has-text-grey">
                            Free bulma templates by</strong>
                        <span class="name logo has-text-black is-bold"><a href="https://michaelandreuzza.com" class="has-text-grey logo">Michael Andreuzza</a></span>

                    </p>
                </div>
            </div>
        </footer>


    </div>






    <script src="../javascript/bulma.js"></script>
</body>

</html>

    <link rel="stylesheet" href="../css/multipurpose.css">







    <!--Bulma-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
    <link href="https://unpkg.com/bulma-fluent@0.3.13/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/d9f8af3987.js"></script>
</head>




<body>

    <div class="section transparent is-paddingless">


        <!--- Nav  --->
        <div class="section  bg_landing">

            <!--- Nav  --->
            <div class="container transparent">

                <div class="hero-head transparent">

                    <nav class="navbar transparent">
                        <div class="navbar-brand shadowless">
                            <a class="navbar-item " href="#">
                                Bulma Multipurpose
                            </a>

                            <span class="navbar-burger burger is-centered" data-target="navMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>

                        <div id="navMenu" class="navbar-menu transparent">


                            <div class="navbar-end">
                                <div class="navbar-item">

                                    <a class=" navbar-item  has-text-black">
                                        <strong>Home</strong>
                                    </a>
                                    <a class=" navbar-item   has-text-black">
                                        <strong>Services</strong>
                                    </a>
                                    <a class=" navbar-item   has-text-black">
                                        <strong>Features</strong>
                                    </a>
                                    <a class=" navbar-item   has-text-black">
                                        <strong>Info</strong>
                                    </a><a class=" navbar-item   has-text-black">
                                        <strong>Testimonials</strong>
                                    </a><a class=" navbar-item   has-text-black">
                                        <strong>Pricing</strong>
                                    </a>
                                    <a class=" navbar-item   has-text-black">
                                        <strong>Contact</strong>
                                    </a>

                                    <button class=" button is-primary">
                                        <span>Call us today !</span>
                                        <span class="icon is-white">
                                            <i class="fas fa-mobile-alt "></i>
                                        </span>

                                    </button>



                                </div>
                            </div>
                        </div>
                    </nav>
                </div>

            </div>

            <!---  End Nav    --->


            <div class="hero is-fullheight bg_landing">
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <div class="column is-6 is-offset-3">
                            <h1 class="title  has-text-black">
                                Multipurpose
                            </h1>
                            <p></p>
                            <h2 class="subtitle  has-text-black">
                                Lorem ipsum dolor amet bespoke fixie synth mumblecore.
                            </h2>
                            <div class="box transparent">


                                <div class="buttons is-centered">
                                    <a class="button is-black">
                                        Purchase now
                                    </a>
                                    <a class="button is-black is-outlined">
                                        Learn more
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="section is-medium">


            <div class="container">
                <nav class="level ">
                    <div class="level-item has-text-centered ">
                        <div>
                            <p class="title has-text-grey">Europe</p>

                        </div>
                    </div>
                    <div class="level-item has-text-centered ">
                        <div>
                            <p class="title has-text-grey">Asia</p>

                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="title has-text-grey">Oceania</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="title has-text-grey">North America</p>

                        </div>
                    </div>
                </nav>

            </div>
        </div>

        <div class="section is-small">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                    <h1 class="title is-1 has-text-black has-text-weight-light">
                        Reaching out
                    </h1>
                    <p></p>
                    <h2 class="subtitle  has-text-black">
Within a hand's reach                    </h2>

                </div>

            </div>

        </div>
        <div class="section is-medium">
            <div class="container">
                <nav class="level ">
                    <div class="level-item has-text-centered">

                        <div>

                            <figure class="image is-128x128">
                                <i class="fas fa-atom fa-7x "></i>
                            </figure>
                            <hr>
                            <p class="heading">Service 1</p>
                            <p class="subtitle">A</p>

                        </div>

                    </div>

                    <div class="level-item has-text-centered">
                        <div>
                            <figure class="image is-128x128">
                                <i class="fas fa-microscope fa-7x"></i>
                            </figure>
                            <hr>
                            <p class="heading">Service 2</p>
                            <p class="subtitle">B</p>

                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <figure class="image is-128x128">
                                <i class="fas fa-brain fa-7x"></i> </figure>
                            <hr>
                            <p class="heading">Service 3</p>
                            <p class="subtitle">C</p>

                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <figure class="image is-128x128">
                                <i class="fas fa-globe fa-7x"></i> </figure>
                            <hr>
                            <p class="heading">Service 4</p>
                            <p class="subtitle">D</p>

                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <figure class="image is-128x128">
                                <i class="fas fa-space-shuttle fa-7x"></i>
                            </figure>
                            <hr>
                            <p class="heading">Service 5</p>
                            <p class="subtitle">E</p>

                        </div>
                    </div>
                </nav>

            </div>
        </div>

        <div class="section ">

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="columns is-vcentered">
                        <div class="column is-half shadowless">
                            <figure class="image is-4by3 transparent">
                                <img src="../images/MacBook%20Air%20-%20Silver.png" alt="USB">
                            </figure>
                        </div>

                        <div class="column is-half  ">
                            <h1 class="title is-1 has-text-left">
                                Our latest technology
                            </h1>
                            <h2 class="subtitle is-4 has-text-left">
                                Description
                            </h2>
                            <br>
                            <p class="has-text-centered  has-text-left ">
                                <a class="button  is-primary">
                                    Get yours now
                                </a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>




        <div class="container is-fluid is-widescreen is-marginless is-centered">

            <div class="columns is-vcentered has-background-info">
                <div class="column is-half shadowless is-paddingless">
                    <figure class="image is-4by3 transparent">
                        <img src="https://images.unsplash.com/photo-1457364847821-58861bbda116?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="USB">
                    </figure>
                </div>

                <div class="column is-half  ">

                    <div class="box transparent">
                        <div class="content transparent has-text-left">
                            <div class="box transparent">
                                <h1 class="title is-1 is-left has-text-weight-light">
                                    Research and Innovation
                                </h1>
                                <p class="">
                                    Skateboard tumblr man braid sustainable 90's blue bottle ramps raclette XOXO occupy pabst chia godard adaptogen farm-to-table. Pour-over slow-carb cardigan organic portland pickled. Gastropub post-ironic roof party thundercats ramps. Normcore cloud bread twee crucifix, jean shorts forage chambray af microdosing XOXO hoodie. Gastropub hot chicken tofu vape pug, messenger bag kitsch. Heirloom pug kickstarter fanny pack microdosing. </p>
                                <ul>
                                    <li>First</li>
                                    <li>Second</li>
                                    <li>Third</li>
                                    <li>Fourth</li>
                                </ul>
                            </div>
                        </div>
                    </div>



                </div>

            </div>










        </div>
        <div class="section ">

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="columns is-vcentered">


                        <div class="column is-half  ">
                            <h1 class="title is-1 has-text-left">
                                Cta section
                            </h1>
                            <h2 class="subtitle is-4 has-text-left">
                                Description
                            </h2>
                            <br>
                            <p class="has-text-centered  has-text-left ">
                                <a class="button  is-primary">
                                    Get yours now
                                </a>
                            </p>
                        </div>
                        <div class="column is-half shadowless">
                            <figure class="image is-4by3 transparent">
                                <img src="../images/white_iphone.png" alt="USB">
                            </figure>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="section has-background-black-ter">
            <div class="section">
                <div class="columns">
                    <div class="column  is-full has-text-centered">
                        <h1 class="title  has-text-white has-text-weight-light">
                            Use this as cards for features ...
                        </h1>
                        <p></p>
                        <h2 class="subtitle  has-text-white">
                            ...or anything you want
                        </h2>
                        <div class="box transparent">

                            <div class="columns has-text-centered  is-multiline">

                                <div class="column ">

                                    <div class="card border">
                                        <div class="card-image">
                                            <figure class="image is-4by3">
                                                <img src="https://images.unsplash.com/photo-1485827404703-89b55fcc595e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <p class="title  has-text-left has-text-weight-light">Title</p>
                                                <p class="subtitle  has-text-grey has-text-left ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>


                                            </div>

                                            <a href="#" class="button  is-primary">Learn More</a>

                                        </div>





                                    </div>
                                </div>

                                <div class="column ">
                                    <div class="card border">
                                        <div class="card-image">
                                            <figure class="image is-4by3">
                                                <img src="https://images.unsplash.com/photo-1531746790731-6c087fecd65a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=995&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <p class="title  has-text-left has-text-weight-light">Title</p>
                                                <p class="subtitle  has-text-grey has-text-left ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>


                                            </div>

                                            <a href="#" class="button  is-primary">Learn More</a>

                                        </div>

                                    </div>
                                </div>

                                <div class="column ">
                                    <div class="card border">
                                        <div class="card-image">
                                            <figure class="image is-4by3">
                                                <img src="https://images.unsplash.com/photo-1531747118685-ca8fa6e08806?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=942&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <p class="title  has-text-left has-text-weight-light">Title</p>
                                                <p class="subtitle  has-text-grey has-text-left ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>


                                            </div>

                                            <a href="#" class="button  is-primary">Learn More</a>

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="section has-background-white">
            <div class="section">
                <div class="columns">
                    <div class="column  is-full has-text-centered">
                        <h1 class="title  has-text-grey has-text-weight-light">
                            Peoples reviews...
                        </h1>
                        <p></p>
                        <h2 class="subtitle  has-text-grey">
                            ...or anything you want
                        </h2>
                        <div class="box transparent">

                            <div class="columns has-text-centered  is-multiline">

                                <div class="column ">
                                    <div class="card border">


                                        <div class="card-content">

                                            <div class="card-content">
                                                

                                                    <p class="subtitle  has-text-grey has-text-left ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.Lorem onsectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                    </p>


                                                

                                                <div class="media">
                                                    <div class="media-left">
                                                        <figure class="image is-48x48 ">
                                                            <img class="is-rounded" src="https://randomuser.me/api/portraits/women/17.jpg">
                                                        </figure>
                                                    </div>
                                                    <div class="media-content">
                                                        <p class="title is-4">Viveca Harrisson</p>
                                                        <p class="subtitle is-6">@harrisonvive</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="column ">
                                    <div class="card border">


                                        <div class="card-content">

                                            <div class="card-content">
                                                

                                                    <p class="subtitle  has-text-grey has-text-left ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.Lorem onsectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                    </p>


                                               

                                                <div class="media">
                                                    <div class="media-left">
                                                        <figure class="image is-48x48">
                                                            <img class="is-rounded" src="https://randomuser.me/api/portraits/men/91.jpg" alt="Placeholder image">
                                                        </figure>
                                                    </div>
                                                    <div class="media-content">
                                                        <p class="title is-4">Michael Lexington</p>
                                                        <p class="subtitle is-6">@mike_lex</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="column ">
                                    <div class="card border">


                                        <div class="card-content">

                                            <div class="card-content">
                                                

                                                    <p class="subtitle  has-text-grey has-text-left ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.Lorem onsectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                    </p>


                                                

                                                <div class="media">
                                                    <div class="media-left">
                                                        <figure class="image is-48x48">
                                                            <img class="is-rounded" src="https://tinyfac.es/data/avatars/26CFEFB3-21C8-49FC-8C19-8E6A62B6D2E0-200w.jpeg" alt="Placeholder image">
                                                        </figure>
                                                    </div>
                                                    <div class="media-content">
                                                        <p class="title is-4">Jared Ponts</p>
                                                        <p class="subtitle is-6">@jponts</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="section">
            <div class="container">

                <div class="notification transparent">
                    <h1 class="title is-1 has-text-centered">
                        Check out our prices
                    </h1>
                    <h2 class="subtitle is-5 has-text-centered">
                        Description Phasellus nec iaculis mauris.
                    </h2>
                </div>
                <div class="pricing-table">
                    <div class="pricing-plan">
                        <div class="plan-header">Starter</div>
                        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>20</span>/month</div>
                        <div class="plan-items ">
                            <div class="plan-item transparent">20GB Storage</div>
                            <div class="plan-item transparent">100 Domains</div>
                            <div class="plan-item transparent">-</div>
                            <div class="plan-item transparent">-</div>
                        </div>
                        <div class="plan-footer">
                            <button class="button is-fullwidth" disabled="disabled">Current plan</button>
                        </div>
                    </div>

                    <div class="pricing-plan is-success is-bold">
                        <div class="plan-header">Startups</div>
                        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>40</span>/month</div>
                        <div class="plan-items">
                            <div class="plan-item transparent">20GB Storage</div>
                            <div class="plan-item transparent">25 Domains</div>
                            <div class="plan-item transparent">1TB Bandwidth</div>
                            <div class="plan-item transparent">-</div>
                        </div>
                        <div class="plan-footer">
                            <button class="button is-fullwidth">Choose</button>
                        </div>
                    </div>

                    <div class="pricing-plan is-active is-aboldane">
                        <div class="plan-header">Growing Team</div>
                        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>60</span>/month</div>
                        <div class="plan-items">
                            <div class="plan-item transparent">200GB Storage</div>
                            <div class="plan-item transparent">50 Domains</div>
                            <div class="plan-item transparent">1TB Bandwidth</div>
                            <div class="plan-item transparent">100 Email Boxes</div>
                        </div>
                        <div class="plan-footer">
                            <button class="button is-fullwidth">Choose</button>
                        </div>
                    </div>

                    <div class="pricing-plan is-danger">
                        <div class="plan-header">Enterprise</div>
                        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>100</span>/month</div>
                        <div class="plan-items">
                            <div class="plan-item transparent">2TB Storage</div>
                            <div class="plan-item transparent">100 Domains</div>
                            <div class="plan-item transparent">1TB Bandwidth</div>
                            <div class="plan-item transparent">1000 Email Boxes</div>
                        </div>
                        <div class="plan-footer">
                            <button class="button is-fullwidth">Choose</button>
                        </div>
                    </div>
                </div>
            </div>
<div class="section is-small">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                    <h1 class="title is-1 has-text-black has-text-weight-light">
                        Suport number:
                    </h1>
                    <p></p>
                    <h2 class="subtitle  has-text-black">
                       sup: 000 - 000 - 0000
                    </h2>

                </div>

            </div>

        </div>




        </div>


        <footer class="footer is-paddingless shadowless">
            <div class="box transparent">
                <div class="content has-text-centered transparent">
                    <p class="is-4">

                        <strong class="name logo has-text-grey">
                            Free bulma templates by</strong>
                        <span class="name logo has-text-black is-bold"><a href="https://michaelandreuzza.com" class="has-text-grey logo">Michael Andreuzza</a></span>

                    </p>
                </div>
            </div>
        </footer>


    </div>






    <script src="../javascript/bulma.js"></script>
</body>

</html>
