<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Product Landing Free Bulma Template by Michael Andreuzza || Sinequanone Blog template</title>


    <link rel="stylesheet" href="../css/musicplayer-dashboard.css">

    <link rel="stylesheet" href="../css/bulma_slider.min.css/slider.css">

    <!--Fontawesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">





    <!--Bulma-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
    <link href="https://unpkg.com/bulma-fluent@0.3.13/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


</head>




<body class=" has-navbar-fixed-top has-navbar-fixed-bottom has-background-black-ter">

    <div class="section transparent is-paddingless is-marginless">

        <div class="container  transparent">

            <div class="hero-head ">

                <nav class="navbar is-fixed-top has-background-black-ter">
                    <div class="navbar-brand shadowless">
                        <a class="navbar-item has-text-info" href="#">
                            Bulma Musicplayer Dashboard
                        </a>
                        <a class="navbar-item transparent">





                            <div class="control has-icons-left  ">

                                <input class="input  is-rounded is-white  has-text-white" type="search" placeholder="Search for songs,artists...">

                                <span class="icon is-small is-left">
                                    <i class="fas fa-search has-text-white"></i>
                                </span>

                            </div>
                        </a>

                        <span class="navbar-burger burger is-centered" data-target="navMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>

                    <div id="navMenu" class="navbar-menu transparent">


                        <div class="navbar-end transparent">
                            <div class="navbar-item">



                                <a class=" navbar-item  has-text-info transparent">
                                    <i class="fas fa-cog"></i>
                                </a>


                                <a class="navbar-item is-size-6 has-text-info  ">
                                    <i class="far fa-bell"></i>
                                </a>

                                <a class="navbar-item  has-text-info  transparent">
                                    <figure class="image is-24x24 material_shadow_five">
                                        <img class="is-rounded" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/58381555_10161736483810118_4007018192961536000_n.jpg?_nc_cat=103&_nc_eui2=AeEpT3usDq3S4UtlR7JU6YOczV0KyZPGVjv5NGlv8O-3iCQhP5dUZAUGWitdqRvIx2cW3dIKEonxshEUdTSEy9wkBoLhjcDCXQGH0WvDHnCRag&_nc_ht=scontent-arn2-1.xx&oh=8009c39217b2b0c262d84b9ddd2695cc&oe=5D90DB21">
                                    </figure>
                                </a>

                            </div>


                        </div>
                    </div>
                </nav>

            </div>

        </div>




        <div class="section is-paddingless has-background-black-ter">



            <div class="section is-paddingless is-marginless">
                <div class="columns">

                    <div class="column  is-full has-text-centered">

                        <div class="box transparent">

                            <div class="columns has-text-centered  is-multiline ">

                                <div class="column is-2 has-background-black-ter is-hidden-mobile ">
                                    <aside class="menu has-text-left ">


                                        <div class="box transparent">

                                            <p class="menu-label has-text-white">
                                                <i class="fas fa-home"></i>
                                                Home
                                            </p>
                                            <p class="menu-label has-text-white">
                                                <i class="fas fa-search"></i>
                                                Browse
                                            </p>
                                            <p class="menu-label has-text-white">
                                                <i class="fas fa-broadcast-tower"></i>
                                                Radio
                                            </p>
                                        </div>
                                        <hr class="has-background-black-ter">

                                        <div class="box transparent">
                                            <p class="menu-label has-text-info">
                                                YOUR LIBRARY
                                            </p>

                                            <p class="menu-label has-text-white">
                                                <i class="far fa-clock"></i>
                                                Recently played
                                            </p>


                                            <p class="menu-label has-text-white">
                                                <i class="far fa-clock"></i>
                                                Liked Songs
                                            </p>
                                            <p class="menu-label has-text-white">
                                                <i class="far fa-user"></i> Artists
                                            </p>
                                            <p class="menu-label has-text-white">
                                                <i class="fas fa-compact-disc has-text-white"></i>
                                                Albums
                                            </p>

                                            <hr class="has-background-black-ter">

                                            <p class="menu-label has-text-info">
                                                PLAYLISTS
                                            </p>
                                            <p class="menu-label has-text-white">
                                                R&amp;B </p>
                                            <p class="menu-label has-text-white">
                                                Oh Wonder
                                            </p>
                                            <p class="menu-label has-text-white">
                                                Workout Music
                                            </p>
                                            <p class="buttons">
                                                <a class="button is-info is-bold is-outlined material_shadow_five">

                                                    <span class="icon is-small">
                                                        <i class="fas fa-plus-circle"></i>
                                                    </span>
                                                    <span>Add New Playlist</span>
                                                </a>
                                            </p>
                                        </div>

                                    </aside>
                                </div>

                                <div class="column is-10 has-text-centered">


                                    <div class="section">

                                        <div class="notification transparent">
                                            <p class="title has-text-white has-text-left">
                                                Explore
                                            </p>
                                            <div class="columns has-text-centered  is-multiline">

                                                <div class="column ">

                                                    <div class="box has-background-black-ter material_shadow_five">
                                                        <div class="card-image">
                                                            <figure class="image is-square">
                                                                <img src="https://i.pinimg.com/originals/a5/a5/65/a5a56520f037c134a39b2dec1f0e13c1.png" alt="Image">
                                                            </figure>

                                                            <div class="card-content">
                                                                <div class="content">
                                                                    <nav class="level has-text-white">
                                                                        <div class="level-item has-text-centered has-text-white">
                                                                            <div>
                                                                                <p class="heading">Album</p>
                                                                                <p class="">Name</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="level-item has-text-centered">
                                                                            <div>
                                                                                <p class="heading">Artist</p>
                                                                                <p class="">name</p>
                                                                            </div>
                                                                        </div>


                                                                    </nav>



                                                                </div>

                                                                <a href="#" class="button  is-white">Listen now</a>
                                                                <a href="#" class="button  is-info is-outlined">Download</a>

                                                            </div>





                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column ">

                                                    <div class="box has-background-black-ter material_shadow_five">
                                                        <div class="card-image">
                                                            <figure class="image is-square">
                                                                <img src="https://assets.audiomack.com/younes95220/5bf2e5b3b9514d7eda82912352fd5ae293d6c495a7c050962d5f90db3c3a1c5c.jpeg?width=260&height=260&max=true" alt="Image">
                                                            </figure>

                                                            <div class="card-content">
                                                                <div class="content">
                                                                    <nav class="level has-text-white">
                                                                        <div class="level-item has-text-centered has-text-white">
                                                                            <div>
                                                                                <p class="heading">Album</p>
                                                                                <p class="">Name</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="level-item has-text-centered">
                                                                            <div>
                                                                                <p class="heading">Artist</p>
                                                                                <p class="">Name</p>
                                                                            </div>
                                                                        </div>


                                                                    </nav>



                                                                </div>

                                                                <a href="#" class="button  is-white">Listen now</a>
                                                                <a href="#" class="button  is-info is-outlined">Download</a>

                                                            </div>





                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column">

                                                    <div class="box has-background-black-ter material_shadow_five">
                                                        <div class="card-image">
                                                            <figure class="image is-square">
                                                                <img src="https://townsquare.media/site/812/files/2017/06/Amine-Good-For-You.jpeg?w=980&q=75" alt="Image">
                                                            </figure>

                                                            <div class="card-content">
                                                                <div class="content">
                                                                    <nav class="level has-text-white">
                                                                        <div class="level-item has-text-centered has-text-white">
                                                                            <div>
                                                                                <p class="heading">Album</p>
                                                                                <p class="">Name</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="level-item has-text-centered">
                                                                            <div>
                                                                                <p class="heading">Artist</p>
                                                                                <p class="">Name</p>
                                                                            </div>
                                                                        </div>


                                                                    </nav>



                                                                </div>

                                                                <a href="#" class="button  is-white">Listen now</a>
                                                                <a href="#" class="button  is-info is-outlined">Download</a>

                                                            </div>





                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="section">

                                        <div class="notification transparent">
                                            <p class="title has-text-white has-text-left">
                                                Radio Stations
                                            </p>
                                            <div class="columns has-text-centered  is-multiline">

                                                <div class="column ">

                                                    <div class="box has-background-black-ter material_shadow_five">
                                                        <div class="card-image">
                                                            <figure class="image is-square">
                                                                <img src="https://i.pinimg.com/originals/a5/a5/65/a5a56520f037c134a39b2dec1f0e13c1.png" alt="Image">
                                                            </figure>

                                                            <div class="card-content">
                                                                <div class="content">
                                                                    <nav class="level has-text-white">
                                                                        <div class="level-item has-text-centered has-text-white">
                                                                            <div>
                                                                                <p class="heading">Album</p>
                                                                                <p class="">Name</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="level-item has-text-centered">
                                                                            <div>
                                                                                <p class="heading">Artist</p>
                                                                                <p class="">name</p>
                                                                            </div>
                                                                        </div>


                                                                    </nav>



                                                                </div>

                                                                <a href="#" class="button  is-white">Listen now</a>
                                                                <a href="#" class="button  is-info is-outlined">Download</a>

                                                            </div>





                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column ">

                                                    <div class="box has-background-black-ter material_shadow_five">
                                                        <div class="card-image">
                                                            <figure class="image is-square">
                                                                <img src="https://assets.audiomack.com/younes95220/5bf2e5b3b9514d7eda82912352fd5ae293d6c495a7c050962d5f90db3c3a1c5c.jpeg?width=260&height=260&max=true" alt="Image">
                                                            </figure>

                                                            <div class="card-content">
                                                                <div class="content">
                                                                    <nav class="level has-text-white">
                                                                        <div class="level-item has-text-centered has-text-white">
                                                                            <div>
                                                                                <p class="heading">Album</p>
                                                                                <p class="">Name</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="level-item has-text-centered">
                                                                            <div>
                                                                                <p class="heading">Artist</p>
                                                                                <p class="">Name</p>
                                                                            </div>
                                                                        </div>


                                                                    </nav>



                                                                </div>

                                                                <a href="#" class="button  is-white">Listen now</a>
                                                                <a href="#" class="button  is-info is-outlined">Download</a>

                                                            </div>





                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column">

                                                    <div class="box has-background-black-ter material_shadow_five">
                                                        <div class="card-image">
                                                            <figure class="image is-square">
                                                                <img src="https://townsquare.media/site/812/files/2017/06/Amine-Good-For-You.jpeg?w=980&q=75" alt="Image">
                                                            </figure>

                                                            <div class="card-content">
                                                                <div class="content">
                                                                    <nav class="level has-text-white">
                                                                        <div class="level-item has-text-centered has-text-white">
                                                                            <div>
                                                                                <p class="heading">Album</p>
                                                                                <p class="">Name</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="level-item has-text-centered">
                                                                            <div>
                                                                                <p class="heading">Artist</p>
                                                                                <p class="">Name</p>
                                                                            </div>
                                                                        </div>


                                                                    </nav>



                                                                </div>

                                                                <a href="#" class="button  is-white">Listen now</a>
                                                                <a href="#" class="button  is-info is-outlined">Download</a>

                                                            </div>





                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>




                                </div>
                                <div class="section transparent">
                                    <div class="container transparent is-spaced">

                                        <div class="hero-head has-text-centered transparent">
                                            <nav class="navbar is-fixed-bottom has-background-black-ter is-spaced">
                                                <div class="navbar-brand transparent ">

                                                    <a class="navbar-item  has-text-info  transparent">

                                                        <figure class="image is-24x24 material_shadow_five">
                                                            <img class="is-rounded" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/58381555_10161736483810118_4007018192961536000_n.jpg?_nc_cat=103&_nc_eui2=AeEpT3usDq3S4UtlR7JU6YOczV0KyZPGVjv5NGlv8O-3iCQhP5dUZAUGWitdqRvIx2cW3dIKEonxshEUdTSEy9wkBoLhjcDCXQGH0WvDHnCRag&_nc_ht=scontent-arn2-1.xx&oh=8009c39217b2b0c262d84b9ddd2695cc&oe=5D90DB21">
                                                        </figure>


                                                    </a>
                                                    <a class="navbar-item has-text-info transparent" href="https://bulma.io/">
                                                        Now Playing - Artist Name
                                                    </a>

                                                </div>
                                                <div id="navMenu" class="navbar-menu transparent">


                                                    <audio controls class=" has-background-black-ter">
                                                        <source src="#" type="audio/ogg">
                                                        <source src="#" type="audio/mpeg">
                                                        Your browser does not support the audio element.
                                                    </audio>
                                                    <div class="navbar-start">
                                                        <div class="navbar-item">



                                                        </div>
                                                        <div class="navbar-item">



                                                        </div>
                                                        <div class="navbar-item">



                                                        </div>

                                                    </div>


                                                    <div class="navbar-end">



                                                        <div class="navbar-item">

                                                            <i class="fas fa-random has-text-white"></i>

                                                        </div>
                                                        <div class="navbar-item">

                                                            <i class="fas fa-list has-text-white"></i>

                                                        </div>
                                                    </div>
                                                </div>
                                            </nav>
                                        </div>

                                    </div>

                                </div>

                            </div>



                        </div>


                    </div>


                </div>





                <footer class="footer is-paddingless shadowless transparent">
                    <div class="box transparent">
                        <div class="content has-text-centered transparent">
                            <p class="is-4">

                                <strong class="name logo has-text-grey">
                                    Free Bulma templates by</strong>
                                <span class="name logo has-text-black is-bold"><a href="https://michaelandreuzza.com" class="has-text-grey logo">Michael Andreuzza</a></span>

                            </p>
                        </div>
                    </div>
                </footer>

            </div>

        </div>
    </div>






    <script src="../javascript/bulma.js"></script>
</body>

</html>
