<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Landing Free Bulma Template by Michael Andreuzza || Sinequanone Blog template</title>
    <link rel="stylesheet" href="../css/nyt.css">
    <!--Fontawesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!--Bulma-->
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
</head>

<body>
    <div class="section transparent ">
        <div class="container ">
<div class="notification">

            <div class="box transparent" style="padding-top: 10px; padding-bottom: 0px; margin-top: 10;">
                <div class="columns">
                    <div class="column has-text-centered opensans">
                        <span>English</span>
                        &nbsp;
                        <span>Espanol</span>
                        &nbsp;

                        <span>中文</span>
                    </div>
                </div>
                <nav class="level" style=" margin-bottom:  0;">

                    <p class="level-item has-text-centered">
                        <span class="icon has-text-left">
                            <i class="fas fa-bars"></i>
                        </span>
                        &nbsp;
                        <span class="icon has-text-left">
                            <i class="fas fa-search"></i>
                        </span>

                    </p>
                    <p class="level-item has-text-centered">
                    </p>

                    <h1 class="level-item has-text-centered title is-1 has-text-left prata has-text-black-ter">

                        The New Mike Times
                    </h1>
                    <p class="level-item has-text-centered">

                    </p>

                    <div class="level-item has-text-centered buttons ">
                        <button class="button is-black opensans">Subscribe </button>
                        <button class="button is-black opensans">Log In</button>
                    </div>

                </nav>
                <!-- Main container -->
                <nav class="level">
                    <!-- Left side -->
                    <div class="level-left">
                        <div class="level-item">
                            <span class=" heading opensans">
                                <strong>Friday, November 29, 2019

                                </strong>
                            </span>
                        </div>

                    </div>

                    <!-- Right side -->
                    <div class="level-right">
                        <div class="level-item">
                            <span class=" heading opensans">
                                <strong>
                                    Today’s Paper
                                </strong>
                            </span>
                        </div>
                    </div>
                </nav>



            </div>



            <div class="tabs is-centered opensans">
                <ul>
                    <li><a>Pictures</a></li>
                    <li><a>Music</a></li>
                    <li><a>Videos</a></li>
                    <li><a>Documents</a></li>
                    <li><a>Music</a></li>
                    <li><a>Videos</a></li>
                    <li><a>Documents</a></li>
                    <li><a>Music</a></li>
                    <li><a>Videos</a></li>
                    <li><a>Documents</a></li>
                    <li><a>Music</a></li>
                    <li><a>Videos</a></li>
                </ul>
            </div>

            <div class="columns">
                <div class="column  is-gapless">

                    <div class=" transparent is-paddingless">
                        <div class="card-content">
                            <div class="columns is-paddingless">
                                <div class="column ">


                                    <article class="media">
                                        <figure class="media-left ">
                                            <p class="image is-64x64">
                                                <img src="https://images.unsplash.com/photo-1570435229357-79dd1692b110?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="img" style="max-width: 220px; margin: auto; border-radius: 4% !important;">
                                            </p>
                                        </figure>
                                        <div class="media-content">
                                            <span class="subheading navbar-itme   has-text-left has-text-centered-mobile has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop opensans  ">

                                                <strong class="has-text-black-ter-ter prata">Title.</strong>
                                                <br>
                                                Quick description.
                                            </span>

                                            <span class="icon">
                                                <ion-icon ios="arrow-round-forward" name="arrow-round-forward"></ion-icon>
                                            </span>
                                        </div>
                                    </article>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="column  is-gapless">

                    <div class=" transparent is-paddingless">
                        <div class="card-content">
                            <div class="columns ">
                                <div class="column ">


                                    <article class="media">
                                        <figure class="media-left ">
                                            <p class="image is-64x64">
                                                <img src="https://images.unsplash.com/photo-1570435229357-79dd1692b110?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="img" style="max-width: 220px; margin: auto; border-radius: 4% !important;">
                                            </p>
                                        </figure>
                                        <div class="media-content">
                                            <span class="subheading navbar-itme   has-text-left has-text-centered-mobile has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop opensans  ">

                                                <strong class="has-text-black-ter-ter prata">Title.</strong>
                                                <br>
                                                Quick description.
                                            </span>

                                            <span class="icon">
                                                <ion-icon ios="arrow-round-forward" name="arrow-round-forward"></ion-icon>
                                            </span>
                                        </div>
                                    </article>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="column  is-gapless">

                    <div class=" transparent is-paddingless">
                        <div class="card-content">
                            <div class="columns ">
                                <div class="column ">


                                    <article class="media">
                                        <figure class="media-left ">
                                            <p class="image is-64x64">
                                                <img src="https://images.unsplash.com/photo-1570435229357-79dd1692b110?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="img" style="max-width: 220px; margin: auto; border-radius: 4% !important;">
                                            </p>
                                        </figure>
                                        <div class="media-content">
                                            <span class="subheading navbar-itme   has-text-left has-text-centered-mobile has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop opensans  ">

                                                <strong class="has-text-black-ter-ter prata">Title.</strong>
                                                <br>
                                                Quick description.
                                            </span>

                                            <span class="icon">
                                                <ion-icon ios="arrow-round-forward" name="arrow-round-forward"></ion-icon>
                                            </span>
                                        </div>
                                    </article>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="  is-gapless">

                    <div class="card transparent is-paddingless">
                        <div class="card-content">
                            <div class="columns ">
                                <div class="column ">


                                    <article class="media">

                                        <div class="media-content">
                                            <span class="subheading navbar-itme   has-text-left has-text-centered-mobile has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop opensans  ">

                                                <strong class="has-text-black-ter-ter prata">Title.</strong>
                                                <br>
                                                Money Stuff.
                                            </span>

                                            <span class="icon">
                                                <ion-icon ios="arrow-round-forward" name="arrow-round-forward"></ion-icon>
                                            </span>
                                        </div>
                                        <div class="media-content">
                                            <span class="subheading navbar-itme   has-text-left has-text-centered-mobile has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop opensans  ">

                                                <strong class="has-text-black-ter-ter prata">Title.</strong>
                                                <br>
                                                Weather.
                                            </span>

                                            <span class="icon">
                                                <ion-icon ios="arrow-round-forward" name="arrow-round-forward"></ion-icon>
                                            </span>
                                        </div>
                                    </article>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <hr class="has-background-grey-light" style="padding-top: 0px; maring: 0px; height: 1px;">
            <hr class="has-background-grey-light" style="padding-top: 0px; maring: 0px; height: 1px;">
            <div class="columns ">
                <div class="column">

                    <div class="columns is-multiline ">
                        <div class="columns">
                            <div class="column">

                                <div class="article">
                                    <p class="subtitle has-text-left has-text-weight-bold prata ">Two robotic fabrication methods entwine to make Tongji University bridge </p>
                                    <p class="is-4  has-text-grey has-text-left  opensans">Ross Lovegrove has designed this year's Fashion Awards trophy, which consists of a laser-cut DNA double helix that appears to be suspended inside a monolithic crystal.
                                    </p>
                                    <p class="subheading is-left is-italic  has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop  ">
                                        <br>
                                        Date or something.
                                    </p>
                                </div>


                                <hr class="has-background-black" style="width: 10%; height: 1px; ">
                            </div>
                            <div class="column is-7">
                                <div class="box is-paddingless">
                                    <div class="card-image ">

                                        <figure class="image is-3by2 ">
                                            <img src="https://images.unsplash.com/photo-1552558636-f6a8f071c2b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80" alt="Image">
                                        </figure>
                                    </div>
                                    <br>

                                </div>
                            </div>
                        </div>
                        <hr class="has-background-black" style="width: 100%; height: 1px; ">

                        <div class="columns">
                            <div class="column">
                                <div class="article">
                                    <p class="subtitle has-text-left has-text-weight-bold prata ">Two robotic fabrication methods entwine to make Tongji University bridge </p>
                                    <p class="is-4  has-text-grey has-text-left  opensans">Ross Lovegrove has designed this year's Fashion Awards trophy, which consists of a laser-cut DNA double helix that appears to be suspended inside a monolithic crystal.
                                    </p>
                                    <p class="subheading is-left is-italic  has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop  ">
                                        <br>
                                        Date or something.
                                    </p>
                                    <hr class="has-background-black" style="width: 10%; height: 1px; ">

                                </div>
                            </div>
                            <div class="column">
                                <div class="article">
                                    <p class="subtitle has-text-left has-text-weight-bold prata ">Two robotic fabrication methods entwine to make Tongji University bridge </p>
                                    <p class="subheading is-left is-italic  has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop  ">
                                        <br>
                                        Date or something.
                                    </p>
                                    <hr class="has-background-black" style="width: 10%; height: 1px; ">

                                </div>
                            </div>

                            <div class="column is-2">
                                <p class="subheading is-left is-italic  has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop  ">Ross Lovegrove has designed this year's Fashion Awards trophy.
                                </p>
                                <hr class="has-background-black" style="width: 10%; height: 1px; ">
                            </div>

                        </div>
                        <hr class="has-background-black" style="width: 100%; height: 1px; ">
                        <div class="columns">
                            <div class="column is-5">
                                <p class="subtitle has-text-left has-text-weight-bold prata ">Two robotic fabrication methods entwine to make Tongji University bridge </p>
                            </div>
                            <div class="column">
                                <p class="is-4  has-text-grey has-text-left  opensans">Ross Lovegrove has designed this year's Fashion Awards trophy, which consists of a laser-cut DNA double helix that appears to be suspended inside a monolithic crystal.
                                </p>
                                <p class="subheading is-left is-italic  has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop  ">
                                    <br>
                                    Date or something.
                                </p>
                            </div>
                        </div>
                        <hr class="has-background-black" style="width: 100%; height: 1px; ">
                        <div class="columns">
                            <div class="column">

                                <div class="article">
                                    <p class="subtitle has-text-left has-text-weight-bold prata ">Two robotic fabrication methods entwine to make Tongji</p>
                                    <p class="is-4  has-text-grey has-text-left  opensans">Ross Lovegrove has designed this year's Fashion Awards trophy.
                                    </p>
                                    <p class="subheading is-left is-italic  has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop  ">
                                        <br>
                                        Date or something.
                                    </p>
                                </div>
                                <hr class="has-background-grey-light" style="width: 100%; height: 1px; ">

                                <div class="article">
                                    <p class="subtitle has-text-left has-text-weight-bold prata ">Two robotic fabrication methods entwine to make Tongji University bridge </p>

                                    <p class="subheading is-left is-italic  has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop  ">
                                        <br>
                                        Date or something.
                                    </p>
                                </div>


                            </div>
                            <div class="column is-7">
                                <div class="box is-paddingless">
                                    <div class="card-image ">
                                        <figure class="image is-3by2 ">
                                            <img src="https://images.unsplash.com/photo-1552558636-f6a8f071c2b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80" alt="Image">
                                        </figure>
                                    </div>
                                    <p class="subheading is-left is-italic  has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop  ">
                                        <br>
                                        Caption or something. Ross Lovegrove has designed this year's Fashion Awards trophy, which consists of a laser-cut DNA double
                                    </p>


                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="has-background-black" style="width: 100%; height: 1px; ">

                    <div class="columns">
                        <div class="column is-5">
                            <p class="subtitle has-text-left has-text-weight-bold prata ">Two robotic fabrication methods entwine to make Tongji University bridge </p>
                        </div>
                        <div class="column">
                            <p class="is-4  has-text-grey has-text-left  opensans">Ross Lovegrove has designed this year's Fashion Awards trophy, which consists of a laser-cut DNA double helix that appears to be suspended inside a monolithic crystal.
                            </p>
                            <p class="subheading is-left is-italic  has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop  ">
                                <br>
                                Date or something.
                            </p>
                        </div>
                    </div>

                    <hr class="has-background-black" style="width: 100%; height: 1px; ">

                    <div class="columns   is-multiline ">
                        <div class="columns">
                            <div class="column">

                                <div class="article">
                                    <p class="subtitle has-text-left has-text-weight-bold prata ">Two robotic fabrication methods entwine to make Tongji University bridge </p>
                                    <p class="is-4  has-text-grey has-text-left  opensans">Ross Lovegrove has designed this year's Fashion Awards trophy, which consists of a laser-cut DNA double helix that appears to be suspended inside a monolithic crystal.
                                    </p>
                                    <p class="subheading is-left is-italic  has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop  ">
                                        <br>
                                        Date or something.
                                    </p>
                                </div>


                                <hr class="has-background-black" style="width: 10%; height: 1px; ">
                            </div>
                            <div class="column is-7">
                                <div class="box is-paddingless">
                                    <div class="card-image ">
                                        <figure class="image is-3by2 ">
                                            <img src="https://images.unsplash.com/photo-1552558636-f6a8f071c2b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80" alt="Image">
                                        </figure>
                                    </div>
                                    <br>

                                </div>
                            </div>
                        </div>



                    </div>

                    <hr class="has-background-black" style="width: 100%; height: 1px; ">

                    <div class="columns">
                        <div class="column is-5">
                            <p class="subtitle has-text-left has-text-weight-bold prata ">Two robotic fabrication methods entwine to make Tongji University bridge </p>
                        </div>
                        <div class="column">
                            <p class="is-4  has-text-grey has-text-left  opensans">Ross Lovegrove has designed this year's Fashion Awards trophy, which consists of a laser-cut DNA double helix that appears to be suspended inside a monolithic crystal.
                            </p>
                            <p class="subheading is-left is-italic  has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop  ">
                                <br>
                                Date or something.
                            </p>
                        </div>
                    </div>
                    <hr class="has-background-black" style="width: 100%; height: 1px; ">

                    <div class="columns   is-multiline ">
                        <div class="columns">
                            <div class="column">

                                <div class="article">
                                    <p class="subtitle has-text-left has-text-weight-bold prata ">Two robotic fabrication methods entwine to make Tongji University bridge </p>
                                    <p class="is-4  has-text-grey has-text-left  opensans">Ross Lovegrove has designed this year's Fashion Awards trophy, which consists of a laser-cut DNA double helix that appears to be suspended inside a monolithic crystal.
                                    </p>
                                    <p class="subheading is-left is-italic  has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop  ">
                                        <br>
                                        Date or something.
                                    </p>
                                </div>


                                <hr class="has-background-black" style="width: 10%; height: 1px; ">
                            </div>
                            <div class="column is-7">
                                <div class="box is-paddingless">
                                    <div class="card-image ">
                                        <figure class="image is-3by2 ">
                                            <img src="https://images.unsplash.com/photo-1552558636-f6a8f071c2b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80" alt="Image">
                                        </figure>
                                    </div>
                                    <br>

                                </div>
                            </div>
                        </div>


                        <hr class="has-background-black" style="width: 100%; height: 1px; ">

                        <div class="columns">
                            <div class="column">

                                <div class="article">
                                    <p class="subtitle has-text-left has-text-weight-bold prata ">Two robotic fabrication methods.</p>
                                    <hr class="has-background-black" style="width: 10%; height: 1px; ">

                                    <p class="is-4  has-text-grey has-text-left  opensans">Ross Lovegrove has designed this year's Fashion Awards trophy.
                                    </p>

                                    <p class="subheading is-left is-italic  has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop  ">
                                        <br>
                                        Date or something.
                                    </p>

                                </div>
                            </div>
                            <div class="column is-5">
                                <div class="box is-paddingless">
                                    <div class="card-image ">
                                        <figure class="image is-3by2 ">
                                            <img src="https://images.unsplash.com/photo-1560648744-b01971bc19b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Image">
                                        </figure>
                                    </div>
                                    <p class="subheading is-left is-italic  has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop  ">
                                        <br>
                                        Caption or something. Ross Lovegrove has designed this year's Fashion Awards trophy.
                                    </p>



                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="column is-4" style="padding-left: 25px; padding-top: 1px;">
                    <div class="columns">
                        <div class="column">
                            <div class="article">
                                <figure class="image is-48x48 is-pulled-right">
                                    <img class="is-rounded" src="https://pbs.twimg.com/profile_images/953000038967468033/n4Ngwvi7.jpg" alt="icon">
                                </figure>
                                <p class=" is-5 has-text-left has-text-weight-bold  ">Word <span class="icon">
                                        <i class="fas fa-chevron-right"></i>
                                    </span></p>

                                <p class=" is-6 has-text-left has-text-weight-bold opensans has-text-grey">Word </p>
                                <p class=" is-6 has-text-left has-text-weight-bold prata ">Longer Title </p>
                                <p class="is-7  has-text-grey has-text-left opensans ">Ross Lovegrove has designed this year's Fashion.
                                </p>
                                <p class="subheading is-left is-italic  has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop  ">
                                    <br>
                                    Date or something.
                                </p>
                                <hr class="has-background-black" style="width: 100%; height: 1px; ">
                            </div>

                        </div>

                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="article">
                                <figure class="image is-48x48 is-pulled-right">
                                    <img class="is-rounded" src="https://pbs.twimg.com/profile_images/953000038967468033/n4Ngwvi7.jpg" alt="icon">
                                </figure>
                                <p class=" is-6 has-text-left has-text-weight-bold prata ">Word </p>

                                <p class=" is-6 has-text-left has-text-weight-bold prata has-text-grey">Word </p>
                                <p class=" is-6 has-text-left has-text-weight-bold prata ">Longer Title </p>
                                <p class="is-7  has-text-grey has-text-left opensans ">Ross Lovegrove has designed this year's Fashion.
                                </p>
                                <p class="subheading is-left is-italic  has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop  ">
                                    <br>
                                    Date or something.
                                </p>
                            </div>
                        </div>
                        <div class="column">
                            <figure class="image  is-pulled-right">
                                <img src="https://images.unsplash.com/photo-1542959864-4b02e6607fe4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="icon">
                            </figure>
                        </div>
                    </div>
                    <hr class="has-background-black" style="width: 100%; height: 1px; ">
                    <div class="columns">
                        <div class="column">
                            <div class="columns">
                                <div class="column">
                                    <div class="article">
                                        <figure class="image is-48x48 is-pulled-right">
                                            <img class="is-rounded" src="https://pbs.twimg.com/profile_images/953000038967468033/n4Ngwvi7.jpg" alt="icon">
                                        </figure>

                                        <p class=" is-6 has-text-left has-text-weight-bold prata has-text-grey-light">Longer Title </p>
                                        <p class="is-7  has-text-grey has-text-left opensans ">Ross Lovegrove has designed this year's Fashion.
                                        </p>

                                    </div>
                                </div>
                                <div class="column">
                                    <div class="columns">
                                        <div class="column">
                                            <div class="article">


                                                <p class=" is-6 has-text-left has-text-weight-bold prata has-text-grey-light">Longer Title </p>
                                                <p class="is-7  has-text-grey has-text-left opensans ">Ross Lovegrove has designed this year's Fashion.
                                                </p>

                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                            <div class="columns">
                                <div class="column">
                                    <div class="article">


                                        <p class=" is-6 has-text-left has-text-weight-bold prata has-text-grey-light">Longer Title </p>
                                        <p class="is-7  has-text-grey has-text-left opensans ">Ross Lovegrove has designed this year's Fashion.
                                        </p>

                                    </div>
                                </div>
                                <div class="column">
                                    <div class="column">
                                        <div class="article">
                                            <figure class="image is-48x48 is-pulled-right">
                                                <img class="is-rounded" src="https://pbs.twimg.com/profile_images/953000038967468033/n4Ngwvi7.jpg" alt="icon">
                                            </figure>

                                            <p class=" is-6 has-text-left has-text-weight-bold prata has-text-grey-light">Longer Title </p>
                                            <p class="is-7  has-text-grey has-text-left opensans ">Ross Lovegrove has designed this year's Fashion.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column">
                                    <div class="article">


                                        <p class=" is-6 has-text-left has-text-weight-bold prata has-text-grey-light">Longer Title </p>
                                        <p class="is-7  has-text-grey has-text-left opensans ">Ross Lovegrove has designed this year's Fashion.
                                        </p>

                                    </div>
                                </div>
                                <div class="column">
                                    <div class="column">
                                        <div class="article">
                                            <figure class="image is-48x48 is-pulled-right">
                                                <img class="is-rounded" src="https://pbs.twimg.com/profile_images/953000038967468033/n4Ngwvi7.jpg" alt="icon">
                                            </figure>

                                            <p class=" is-6 has-text-left has-text-weight-bold prata has-text-grey-light">Longer Title </p>
                                            <p class="is-7  has-text-grey has-text-left opensans ">Ross Lovegrove has designed this year's Fashion.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column">
                                    <div class="article">
                                        <figure class="image is-48x48 is-pulled-right">
                                            <img class="is-rounded" src="https://pbs.twimg.com/profile_images/953000038967468033/n4Ngwvi7.jpg" alt="icon">
                                        </figure>

                                        <p class=" is-6 has-text-left has-text-weight-bold prata has-text-grey-light">Longer Title </p>
                                        <p class="is-7  has-text-grey has-text-left opensans ">Ross Lovegrove has designed this year's Fashion.
                                        </p>

                                    </div>
                                </div>
                                <div class="column">
                                    <div class="column">
                                        <div class="article">


                                            <p class=" is-6 has-text-left has-text-weight-bold prata has-text-grey-light">Longer Title </p>
                                            <p class="is-7  has-text-grey has-text-left opensans ">Ross Lovegrove has designed this year's Fashion.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column">
                                    <div class="article">
                                        <figure class="image is-48x48 is-pulled-right">
                                            <img class="is-rounded" src="https://pbs.twimg.com/profile_images/953000038967468033/n4Ngwvi7.jpg" alt="icon">
                                        </figure>

                                        <p class=" is-6 has-text-left has-text-weight-bold prata has-text-grey-light">Longer Title </p>
                                        <p class="is-7  has-text-grey has-text-left opensans ">Ross Lovegrove has designed this year's Fashion.
                                        </p>

                                    </div>
                                </div>
                                <div class="column">
                                    <div class="column">
                                        <div class="article">


                                            <p class=" is-6 has-text-left has-text-weight-bold prata has-text-grey-light">Longer Title </p>
                                            <p class="is-7  has-text-grey has-text-left opensans ">Ross Lovegrove has designed this year's Fashion.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="has-background-black" style="width: 100%; height: 1px; ">


                        </div>

                    </div>
                    <div class="columns">
                        <div class="column ">
                            <div class="box is-paddingless">
                                <p class="has-text-size-7 has-text-left has-text-weight-bold ">Bedroom </p>
                                <br>

                                <div class="card-image ">
                                    <figure class="image is-3by2 ">
                                        <img src="https://images.unsplash.com/photo-1552558636-f6a8f071c2b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80" alt="Image">
                                    </figure>
                                </div>
                                <br>
                                <div class="article">
                                    <h1 class="subtitle is-5 has-text-left">
                                        Ross Lovegrove creates crystal trophy with helix.
                                    </h1>
                                    <p class="is-4  has-text-grey has-text-left  opensans">Ross Lovegrove has designed this year's Fashion Awards trophy, which consists of a laser-cut DNA double helix that appears to be suspended inside a monolithic crystal.
                                    </p>
                                    <p class="subheading is-left is-italic  has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop  ">
                                        <br>
                                        Date or something.
                                    </p>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column">
                                    <div class="article">

                                        <p class=" is-6 has-text-left has-text-weight-bold prata ">Word </p>

                                        <p class=" is-6 has-text-left has-text-weight-bold prata has-text-grey">Word </p>
                                        <p class=" is-6 has-text-left has-text-weight-bold prata ">Longer Title </p>
                                        <p class="is-7  has-text-grey has-text-left opensans ">Ross Lovegrove has designed this year's Fashion.
                                        </p>
                                        <p class="subheading is-left is-italic  has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop  ">
                                            <br>
                                            Date or something.
                                        </p>
                                    </div>
                                </div>
                                <div class="column">
                                    <figure class="image  is-pulled-right">
                                        <img src="https://images.unsplash.com/photo-1542959864-4b02e6607fe4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="icon">
                                    </figure>
                                </div>
                            </div>
                            <hr class="has-background-black" style="width: 100%; height: 1px; ">
                            <div class="columns">
                                <div class="column">
                                    <div class="article">

                                        <p class=" is-6 has-text-left has-text-weight-bold prata ">Word </p>

                                        <p class=" is-6 has-text-left has-text-weight-bold prata has-text-grey">Word </p>
                                        <p class=" is-6 has-text-left has-text-weight-bold prata ">Longer Title </p>
                                        <p class="is-7  has-text-grey has-text-left opensans ">Ross Lovegrove has designed this year's Fashion.
                                        </p>
                                        <p class="subheading is-left is-italic  has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop  ">
                                            <br>
                                            Date or something.
                                        </p>
                                    </div>
                                </div>
                                <div class="column">
                                    <figure class="image  is-pulled-right">
                                        <img src="https://images.unsplash.com/photo-1542959864-4b02e6607fe4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="icon">
                                    </figure>
                                </div>
                            </div>
                            <hr class="has-background-black" style="width: 100%; height: 1px; ">
                            <div class="columns">
                                <div class="column">
                                    <div class="article">

                                        <p class=" is-6 has-text-left has-text-weight-bold prata ">Word </p>

                                        <p class=" is-6 has-text-left has-text-weight-bold prata has-text-grey">Word </p>
                                        <p class=" is-6 has-text-left has-text-weight-bold prata ">Longer Title </p>
                                        <p class="is-7  has-text-grey has-text-left opensans ">Ross Lovegrove has designed this year's Fashion.
                                        </p>
                                        <p class="subheading is-left is-italic  has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop  ">
                                            <br>
                                            Date or something.
                                        </p>
                                    </div>
                                </div>
                                <div class="column">
                                    <figure class="image  is-pulled-right">
                                        <img src="https://images.unsplash.com/photo-1542959864-4b02e6607fe4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="icon">
                                    </figure>
                                </div>
                            </div>
                            <hr class="has-background-black" style="width: 100%; height: 1px; ">
                            <div class="columns">
                                <div class="column">
                                    <div class="article">
bold
                                        <p class=" is-6 has-text-left has-text-weight-bold prata ">Word </p>

                                        <p class=" is-6 has-text-left has-text-weight-bold prata has-text-grey">Word </p>
                                        <p class=" is-6 has-text-left has-text-weight-bold prata ">Longer Title </p>
                                        <p class="is-7  has-text-grey has-text-left opensans ">Ross Lovegrove has designed this year's Fashion.
                                        </p>
                                        <p class="subheading is-left is-italic  has-text-grey is-size-7-mobile is-size-7-tablet is-size-7-desktop  ">
                                            <br>
                                            Date or something.
                                        </p>
                                    </div>
                                </div>
                                <div class="column">
                                    <figure class="image  is-pulled-right">
                                        <img src="https://images.unsplash.com/photo-1542959864-4b02e6607fe4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="icon">
                                    </figure>
                                </div>
                            </div>
                            <hr class="has-background-black" style="width: 100%; height: 1px; ">
                        </div>
                    </div>




                </div>



            </div>
            <hr class="has-background-black" style="width: 100%; height: 1px; ">
                 
</div>
            <footer class="footer is-paddingless shadowless">
                <div class="box transparent">
                    <div class="content has-text-centered transparent">
                        <p class="is-4">
                            <strong class="name logo has-text-grey">
                               Bulma &amp; Buefy templates by Michael Andreuzza @</strong>
                            <span class="name logo has-text-black-ter is-bold"><a href="https://colorsandfonts.com" target="_blank" class="has-text-primary logo">Colors &amp; Fonts</a></span>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="../javascript/bulma.js"></script>
</body>

</html>
