<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Product Landing Free Bulma Template by Michael Andreuzza || Multipurpose template</title>


    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/bulma_pricing-table.min.css/price_cards.css">







    <!--Bulma-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
    <link href="https://unpkg.com/bulma-fluent@0.3.13/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/d9f8af3987.js"></script>
</head>




<body class="has-navbar-fixed-top">



    <div class="section transparent is-paddingless">


        <!--- Nav  --->
        <div class="section  bg_landing">

            <!--- Nav  --->


            <div class="hero-head transparent">

                <nav class="navbar is-fixed-top">
                    <div class="navbar-brand">
                        <a class="navbar-item is-1" href="#">
                            <img src="/images/logo.png" alt="Bulma: a modern CSS framework based on Flexbox">
                        </a>

                        <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
                            <span class="icon" style="color: #333;">
                                <i class="fab fa-github"></i>
                            </span>
                        </a>

                        <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
                            <span class="icon" style="color: #55acee;">
                                <i class="fab fa-twitter"></i>
                            </span>
                        </a>

                        <div class="navbar-burger burger" data-target="navMenubd-example">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <div id="navMenubd-example" class="navbar-menu">
                        <div class="navbar-start">
                            <div class="navbar-item has-dropdown is-hoverable is-mega">
                                <div class="navbar-link">
                                    Categories
                                </div>
                                <div id="blogDropdown" class="navbar-dropdown " data-style="width: 18rem;">
                                    <div class="container is-fluid">
                                        <div class="columns">
                                            <div class="column">
                                                <h1 class="title is-6 is-mega-menu-title">Portfolio</h1>
                                                <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                                                    <div class="navbar-content">
                                                        <p>
                                                            <small class="has-text-info">03 Aug 2017</small>
                                                        </p>
                                                        <p>Theme </p>
                                                    </div>
                                                </a>
                                                <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                                                    <div class="navbar-content">
                                                        <p>
                                                            <small class="has-text-info">03 Aug 2017</small>
                                                        </p>
                                                        <p>Theme</p>
                                                    </div>
                                                </a>
                                                <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                                                    <div class="navbar-content">
                                                        <p>
                                                            <small class="has-text-info">03 Aug 2017</small>
                                                        </p>
                                                        <p>Theme</p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="column">
                                                <h1 class="title is-6 is-mega-menu-title">Blog</h1>
                                                <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                                                    <div class="navbar-content">

                                                        <p>
                                                            <small class="has-text-info">03 Aug 2017</small>
                                                        </p>
                                                        <p>Theme</p>
                                                    </div>
                                                </a>
                                                <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                                                    <div class="navbar-content">

                                                        <p>
                                                            <small class="has-text-info">03 Aug 2017</small>
                                                        </p>
                                                        <p>Theme</p>
                                                    </div>
                                                </a>
                                                <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                                                    <div class="navbar-content">

                                                        <p>
                                                            <small class="has-text-info">03 Aug 2017</small>
                                                        </p>
                                                        <p>Theme</p>
                                                    </div>
                                                </a>

                                            </div>
                                            <div class="column">
                                                <h1 class="title is-6 is-mega-menu-title">Corporate</h1>
                                                <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                                                    <div class="navbar-content">

                                                        <p>
                                                            <small class="has-text-info">03 Aug 2017</small>
                                                        </p>
                                                        <p>Theme</p>
                                                    </div>
                                                </a>
                                                <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                                                    <div class="navbar-content">

                                                        <p>
                                                            <small class="has-text-info">03 Aug 2017</small>
                                                        </p>
                                                        <p>Theme</p>
                                                    </div>
                                                </a>
                                                <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                                                    <div class="navbar-content">

                                                        <p>
                                                            <small class="has-text-info">03 Aug 2017</small>
                                                        </p>
                                                        <p>Theme</p>
                                                    </div>
                                                </a>

                                            </div>
                                            <div class="column">
                                                <h1 class="title is-6 is-mega-menu-title">Galleries</h1>
                                                <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                                                    <div class="navbar-content">

                                                        <p>
                                                            <small class="has-text-info">03 Aug 2017</small>
                                                        </p>
                                                        <p>Theme</p>
                                                    </div>
                                                </a>
                                                <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                                                    <div class="navbar-content">

                                                        <p>
                                                            <small class="has-text-info">03 Aug 2017</small>
                                                        </p>
                                                        <p>Theme</p>
                                                    </div>
                                                </a>
                                                <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                                                    <div class="navbar-content">

                                                        <p>
                                                            <small class="has-text-info">03 Aug 2017</small>
                                                        </p>
                                                        <p>Theme</p>
                                                    </div>
                                                </a>


                                            </div>
                                            <div class="column">
                                                <h1 class="title is-6 is-mega-menu-title">Components</h1>
                                                <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                                                    <div class="navbar-content">

                                                        <p>
                                                            <small class="has-text-info">03 Aug 2017</small>
                                                        </p>
                                                        <p>Theme</p>
                                                    </div>
                                                </a>
                                                <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                                                    <div class="navbar-content">

                                                        <p>
                                                            <small class="has-text-info">03 Aug 2017</small>
                                                        </p>
                                                        <p>Theme</p>
                                                    </div>
                                                </a>
                                                <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                                                    <div class="navbar-content">

                                                        <p>
                                                            <small class="has-text-info">03 Aug 2017</small>
                                                        </p>
                                                        <p>Theme</p>
                                                    </div>
                                                </a>

                                            </div>
                                        </div>
                                    </div>

                                    <hr class="navbar-divider">
                                    <div class="navbar-item">
                                        <div class="navbar-content">
                                            <div class="level is-mobile">
                                                <div class="level-left">
                                                    <div class="level-item">
                                                        <a href="https://www.colorsandfonts.com/"><strong>By Colors & Fonts</strong></a>
                                                    </div>
                                                </div>
                                                <div class="level-right">
                                                    <div class="level-item">
                                                        <a class="button bd-is-rss is-small" href="">
                                                            <span class="icon is-small">
                                                                <i class="fa fa-rss"></i>
                                                            </span>
                                                            <span>Subscribe</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="navbar-item has-dropdown is-hoverable">
                                <div class="navbar-link">
                                    More
                                </div>
                                <div id="moreDropdown" class="navbar-dropdown ">
                                    <a class="navbar-item " href="http://bulma.io/extensions/">
                                        <div class="level is-mobile">
                                            <div class="level-left">
                                                <div class="level-item">
                                                    <p>
                                                        <strong>Extensions</strong>
                                                        <br>
                                                        <small>Side projects to enhance Bulma</small>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="level-right">
                                                <div class="level-item">
                                                    <span class="icon has-text-info">
                                                        <i class="fa fa-plug"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="navbar-end">
                            <div class="navbar-item">
                                <div class="field is-grouped">
                                    <p class="control">
                                        <a class="navbar-item " data-social-network="Twitter" data-social-action="tweet" data-social-target="http://bulma.io" target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&hashtags=bulmaio&url=http://bulma.io&via=jgthms">
                                            <span class="icon has-text-primary">
                                                <i class="fab fa-twitter"></i>
                                            </span>

                                        </a>

                                    </p>

                                    <a class="navbar-item">
                                        <i class="fab fa-github"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>



            <!---  End Nav    --->


            <div class="hero is-small bg_landing">
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <div class="column is-full ">
                            <h1 class="title is-1 has-text-white">
                                Portfolios
                            </h1>
                            <p></p>
                             
                        </div>
                    </div>
                </div>
            </div>

        </div>
        

         <div class="section">
            <div class="columns">

                <div class="column   has-text-centered">

                    <div class="box transparent">

                        <div class="columns has-text-centered  is-multiline ">



                            <div class="column ">
                                <div class="box has-text-centered" style="height: 100%">
                                    <section class="section is-paddingless-vertical">
                                        <figure class="image is-16by9">
                                            <img src="/images/illustrations/one_page.svg" alt="Bulma First" style="max-width: 220px; margin: auto">
                                        </figure>
                                    </section>
                                    <div class="divider is-centered"></div>
                                    <section class="section is-paddingless-vertical">
                                        <h2 class="title is-spaced is-5">One Page</h2>
                                        <h3 class="subtitle is-6 has-text-grey" >A simple landing hero displaying your contacts information<a href="https://bulma.io/" target="_blank">Bulma.io</a> CSS framework.</h3>
                                    </section>
                                </div>
                                <hr>
                            </div>
                            <div class="column ">
                                <div class="box has-text-centered" style="height: 100%">
                                    <section class="section is-paddingless-vertical">
                                        <figure class="image is-16by9">
                                            <img src="/images/illustrations/responsive.svg" alt="Bulma First" style="max-width: 220px; margin: auto">
                                        </figure>
                                    </section>
                                    <div class="divider is-centered"></div>
                                    <section class="section is-paddingless-vertical">
                                        <h2 class="title is-spaced is-5">One Page Long</h2>
                                        <h3 class="subtitle is-6 has-text-grey" >Layouts including, about, skills, contact in one page</h3>
                                    </section>
                                </div>
                                <hr>
                            
                            </div> 

                            <div class="column ">
                                <div class="box has-text-centered" style="height: 100%">
                                    <section class="section is-paddingless-vertical">
                                        <figure class="image is-16by9">
                                            <img src="/images/illustrations/various_pages.svg" alt="Bulma First" style="max-width: 220px; margin: auto">
                                        </figure>
                                    </section>
                                    <div class="divider is-centered"></div>
                                    <section class="section is-paddingless-vertical">
                                        <h2 class="title is-spaced is-5">Various Pages</h2>
                                        <h3 class="subtitle is-6 has-text-grey" >Landing, contact, bout section in different pages</h3>
                                    </section>
                                </div>
                                <hr>

                            </div>
                            

                        </div>



                    </div>
                </div>
            </div>
        </div>

        

    



     







        <footer class="footer is-paddingless shadowless">
            <div class="box transparent">
                <div class="content has-text-centered transparent">
                    <p class="is-4">

                        <strong class="name logo has-text-grey">
                            Free bulma templates by</strong>
                        <span class="name logo has-text-black is-bold"><a href="https://michaelandreuzza.com" class="has-text-grey logo">Michael Andreuzza</a></span>

                    </p>
                </div>
            </div>
        </footer>


    </div>






    <script src="../javascript/bulma.js"></script>
</body>

</html>
