<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Product Landing Free Bulma Template</title>


    <link rel="stylesheet" href="../css/product.css">

    <!--Fontawesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    



    <!--Bulma-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
    <link href="https://unpkg.com/bulma-fluent@0.3.13/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


</head>




<body>

    <div class="section transparent is-paddingless">


        <!--- Nav  --->
        <div class="section transparent">

            <!--- Nav  --->
            <div class="container has-background-white">

                <div class="hero-head ">

                    <nav class="navbar">
                        <div class="navbar-brand shadowless">
                            <a class="navbar-item " href="#">
                                Bulma Product Landing 
                            </a>

                            <span class="navbar-burger burger is-centered" data-target="navMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>

                        <div id="navMenu" class="navbar-menu transparent">


                            <div class="navbar-end">
                                <div class="navbar-item">
                                   
                                        <a class=" navbar-item is-white has-text-grey">
                                            Home
                                        </a><a class=" navbar-item is-white has-text-grey">
                                            Specs
                                        </a><a class=" navbar-item is-white has-text-grey">
                                            Features
                                        </a><a class=" navbar-item is-white has-text-grey">
                                            Reviews
                                        </a>
                                        <a class="button navbar-item is-success is-rounded ">
                                            Buy now
                                        </a>
                                    
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>

            </div>
            
             <!---  End Nav    --->
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="columns is-vcentered">
                        
                        <div class="column is-half  1">
                            <h1 class="title is-2 has-text-left">
                                Product landing template
                            </h1>
                            <h2 class="subtitle is-4 has-text-left">
                                Description
                            </h2>
                            <br>
                            <p class="has-text-centered  has-text-left">
                                <a class="button is-large  is-success  ">
                                    Learn more
                                </a>
                            </p>
                        </div>
                        <div class="column is-half shadowless">
                            <figure class="image is-4by3 transparent">
                                <img src="../images/white_iphone.png" alt="USB" >
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

        </div>
       







        <footer class="footer is-paddingless shadowless">
            <div class="box transparent">
                <div class="content has-text-centered transparent">
                    <p class="is-4">

                        <strong class="name logo has-text-grey">
                            Free bulma templates by</strong>
                        <span class="name logo has-text-black is-bold"><a href="https://michaelandreuzza.com" class="has-text-grey logo">Michael Andreuzza</a></span>

                    </p>
                </div>
            </div>
        </footer>

    </div>






   
   
     <script src="../javascript/bulma.js"></script>
</body>

</html>
